{% extends "layout.html" %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Details Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="{{url_for('item', item_id=item.id)}}">product-details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area pb-5">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    {% for image in images %}
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{ url_for('static', filename='item_pics/' + image.image_file)}}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{item.name}}</h3>
                    <h2>{{item.price}}</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Department</span> : {{department.department_name}}</a></li>
                        <li><a href="#"><span>Class</span> : {{item_class.class_name}}</a></li>
                    </ul>
                    <p>{{item.description}}</p>
                    <div class="card_area d-flex align-items-center">
                        <a class="primary-btn" href="#">Message Seller <i class="lnr lnr-envelope"></i></a>
                        <a class="icon_btn" href="#"><span class="ti-bag"></span></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
{% endblock content %}