//--------- start footer Area -------------//

.footer-area {
	padding-top: 100px;
	background-color: #222222;
	h6 {
		color: #fff;
		margin-bottom: 25px;
		font-size: 24px;
		font-weight: 600;
		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
	}
}

.footer-social {
	a {
		padding-right: 25px;
		@include transition();
		&:hover {
			i {
				color: $primary-color;
			}
		}
	}

	i {
		color: #cccccc;
		@include transition();
	}
}

.single-footer-widget {
	@media (max-width: 991px) {
		margin-bottom: 40px;
	}

	::-moz-selection {
		/* Code for Firefox */
		background-color: #191919 !important;
		color: $text-color;
	}
	::selection {
		background-color: #191919 !important;
		color: $text-color;
	}
	::-webkit-input-placeholder {
		/* WebKit, Blink, Edge */
		color: $text-color;
		font-weight: 300;
	}
	:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		color: $text-color;
		opacity: 1;
		font-weight: 300;
	}
	::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		color: $text-color;
		opacity: 1;
		font-weight: 300;
	}
	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: $text-color;
		font-weight: 300;
	}
	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: $text-color;
		font-weight: 300;
	}
}

.footer-text {
	padding-top: 80px;
	@media (max-width: 991px) {
		padding-top: 40px;
	}
	a,
	i {
		color: $primary-color;
	}
}

.footer-item {
	display: inline-block;
	font-size: 16px;
	&:link,
	&:visited {
		text-decoration: none;
		color: #777777;
	}

	&:hover,
	&:active {
		color: $primary-color;
		box-shadow: 0 1rem 2rem rgba($black, 0.4);
		transform: rotate(5deg) scale(1.3);
		padding: 0 5px;
	}
}

.it {
	color: $primary-color;
}
//--------- end footer Area -------------//
