.help-container {
    max-width: 800px;
    margin: 50px auto 50px auto;
    .help-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        column-gap: 20px;
        row-gap: 20px;
        opacity: 0;
        -webkit-transition: opacity 0.25s ease-in;
        -moz-transition: opacity 0.25s ease-in;
        -ms-transition: opacity 0.25s ease-in;
        -o-transition: opacity 0.25s ease-in;
        transition: opacity 0.25s ease-in;

        @media (max-width: 560px) {
            grid-template-columns: 1fr 1fr;
        }
        &.show {
            opacity: 1;
        }

        &::before {
            content: "";
            width: 0;
            padding-bottom: 100%;
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }

        > *:first-child {
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }
    }

    .help-item {
        box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
        background-color: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
        transform: scale(0);
        -webkit-transition: opacity 0.25s ease-in, box-shadow 0.2s ease-in,
            transform 0.2s ease-in-out;
        -moz-transition: opacity 0.25s ease-in, box-shadow 0.2s ease-in,
            transform 0.2s ease-in-out;
        -ms-transition: opacity 0.25s ease-in, box-shadow 0.2s ease-in,
            transform 0.2s ease-in-out;
        -o-transition: opacity 0.25s ease-in, box-shadow 0.2s ease-in,
            transform 0.2s ease-in-out;
        transition: opacity 0.25s ease-in, box-shadow 0.2s ease-in,
            transform 0.2s ease-in-out;
        &.load {
            opacity: 1;
            height: auto;
            transform: scale(1);
        }

        &:hover {
            box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.3);
        }

        &:hover .help-item-icon {
            // color: $primary-color2;
            font-size: 7em;
        }

        &:nth-of-type(1) {
            order: 1;
        }

        &:nth-of-type(2) {
            order: 2;
        }
        &:nth-of-type(3) {
            order: 3;

            @media (max-width: 560px) {
                order: 4;
            }
        }
        &:nth-of-type(4) {
            order: 6;
            @media (max-width: 560px) {
                order: 6;
            }
        }
        &:nth-of-type(5) {
            order: 5;
        }
        &:nth-of-type(6) {
            order: 4;

            @media (max-width: 560px) {
                order: 3;
            }
        }
    }

    .help-detail {
        box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
        background-color: $white;
        border-radius: 10px;
        text-align: center;
        display: none;
        padding: 30px;

        & .send-button {
            padding-bottom: 15px;
        }
        & .contact-us-container {
            border-left: none;
            width: 70%;
        }

        & .contact-us-container.not-logged-in {
            border-left: 4px solid #bd362f;
        }

        & fieldset.form-group {
            text-align: left;
        }
        & h2 {
            @media (max-width: 550px) {
                font-size: 25px;
            }
            @media (max-width: 400px) {
                font-size: 20px;
            }
        }
        & .help-header-container {
            width: 70%;
            margin: 0 auto;
        }
    }

    #help-detail-container {
        transform: scale(0);
        -webkit-transition: transform 0.2s ease-in-out;
        -moz-transition: transform 0.2s ease-in-out;
        -ms-transition: transform 0.2s ease-in-out;
        -o-transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        &.load {
            transform: scale(1);
        }
    }

    #help-back {
        z-index: 90;
        @media (max-width: 550px) {
            line-height: 30px;
        }
        position: absolute;
        display: none;
        border: none;
        background-color: white;
        color: $primary-color;
        padding: 5px 10px 0 10px;
        & .fas.fa-arrow-left {
            font-size: 2em;
        }
    }

    .sell-notes {
        text-align: right;
    }

    .help-item-icon {
        font-size: 6em;
        background: linear-gradient(to right bottom, #ffd98e, #fd8369);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
        -webkit-transition: font-size 0.2s ease-in;
        -moz-transition: font-size 0.2s ease-in;
        -ms-transition: font-size 0.2s ease-in;
        -o-transition: font-size 0.2s ease-in;
        transition: font-size 0.2s ease-in;
    }
}

.nav-text {
    color: $primary-color;
    cursor: pointer;
    &:hover {
        color: $primary-color2;
    }
}
