/* help page */
.help-container {
    max-width: 800px;
    margin: 50px auto 50px auto;
    .help-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        column-gap: 20px;
        row-gap: 20px;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease-in;
        -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;
        &.show {
            opacity: 1;
        }

        &::before {
            content: "";
            width: 0;
            padding-bottom: 100%;
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }

        > *:first-child {
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }
    }

    .help-item {
        box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
        background-color: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease-in;
        -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;
        &.load {
            opacity: 1;
            height: auto;
        }

        &:hover {
            box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.3);
        }

        &:hover .help-item-icon {
            color: $primary-color2;
            font-size: 6em;
        }
    }

    .help-detail {
        box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
        background-color: $white;
        border-radius: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease-in;
        -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;
        text-align: center;
        display: none;
        &.load {
            opacity: 1;
        }
    }

    #help-back {
        -webkit-transition: opacity 0.5s ease-in;
        -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;
        visibility: hidden;
        opacity: 0;
        &.show {
            visibility: visible;
            opacity: 1;
        }
    }

    .sell-notes {
        text-align: right;
    }

    .sell-links {
        color: $primary-color;
        cursor: pointer;
        &:hover {
            color: $primary-color2;
        }
    }

    .help-item-icon {
        font-size: 5em;
        color: $primary-color;
        margin-bottom: 20px;
    }
}
