/* https://stackoverflow.com/questions/33068754/css-animate-text-from-left-to-right-in-div-container-with-overflow-hidden */

.animate-overflow {
    display: block;
    position: relative;
    left: 40px !important;
}

.social-info:hover .animate-overflow {
    // animation: 3s linear 0s infinite alternate animate;
    -webkit-animation: 3s linear 0s infinite alternate advanced;
    -moz-animation: 3s linear 0s infinite alternate advanced;
    -o-animation: 3s linear 0s infinite alternate advanced;
    -ms-animation: 3s linear 0s infinite alternate advanced;
    animation: 3s linear 0s infinite alternate advanced;
}

// .advanced {
//     position: relative;
//     animation: 3s linear 0s infinite alternate advanced;
// }

// @keyframes animate {
//     from {
//         transform: translateX(0%);
//     }
//     to {
//         transform: translateX(-100%);
//     }
// }
@-webkit-keyframes advanced {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        left: 40px;
    }
    25% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        left: 40px;
    }
    75% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 100% !important;
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 100% !important;
    }
}

@keyframes advanced {
    0% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        left: 40px;
    }
    25% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        left: 40px;
    }
    75% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 100% !important;
    }
    100% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        left: 100% !important;
    }
}

.sidebar-categories {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    @media (min-width: 768px) {
        margin-bottom: 100px;
    }
}
