
{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>About Us</h1>
                <nav class="d-flex align-items-center">
                    <a href="{{url_for('home')}}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">About Us</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<div class="container mt-3">
    <div class="text-center p-5">
        <h1>Meet The <span class="it">Founders</span></h1>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Forbes Miyasato</h2>
        </div>
        <div class="col-md-6 text-center">
            <h2>Thomas Robasciotti</h2>
        </div>
    </div>
</div>
{% endblock content %}