{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>About Us</h1>
                <nav class="d-flex align-items-center">
                    <a onclick="linkClicked(this, '{{ url_for('home')}}'); return false;" href="/home">Home<span
                            class="lnr lnr-arrow-right"></span></a>
                    <a class="nav-no-href">About Us</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<div class="container mt-3">
    <div class="text-center p-5">
        <h1>Meet The <span class="founder-highlight">Team</span></h1>
    </div>
    <div class="row">
        <div class="col-md-6 text-center mb-5">
            <h2>Forbes Miyasato</h2>
            <h3>Founder</h3>
            <div class="about-image-container">
                <img alt="founder Forbes" class="about-image"
                    src="{{ url_for('static', filename='img/about/forbes.jpeg')}}">
                </img>
                <a class="about-forbes-linkedin" href="https://www.linkedin.com/in/forbesmiyasato/">
                    <img src="{{ url_for('static', filename='img/about/linkedin.png')}}" alt="linkedin icon">
                </a>
                <a class="about-forbes-insta" href="https://www.instagram.com/forbesmiyasato/">
                    <img src="{{ url_for('static', filename='img/about/instagram.png')}}" alt="instagram icon">
                </a>
                <div class="bubble bubble-bottom-left bubble-insta" contenteditable>Follow me on Instagram!</div>
                <div class="bubble bubble-bottom-left bubble-linkedin" contenteditable>Connect with me on LinkedIn!
                </div>
            </div>
            <p>Forbes is a 2020 graduate of Pacific University with a degree in Computer Science. He is an aspiring Software Engineer interested
                in full-stack development. He founded Unibooks to help students sell and buy used textbooks at a fair price.
            </p>
        </div>
        <div class="col-md-6 text-center mb-5">
            <h2>Thomas Robasciotti</h2>
            <h3>Contributor</h3>
            <div class="about-image-container">
                <img alt="founder Thomas" class="about-image"
                    src="/static/item_pics/No_picture_available.png" />
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo nulla, vestibulum non ligula id,
                fringilla posuere nulla. Pellentesque et lobortis velit. Fusce fringilla sit amet libero ac dapibus.
                Aliquam a enim sed lorem sagittis fringilla. Aliquam libero ante, molestie vitae pellentesque vel,
                bibendum ut tortor. Cras egestas in ligula id aliquam.</p>
        </div>
    </div>
</div>
{% endblock content %}