{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Account</h1>
                <nav class="d-flex align-items-center">
                    <a onclick="linkClicked(null, '/home'); return false" href="/home">Home<span
                            class="lnr lnr-arrow-right"></span></a>
                    <a class="nav-no-href">Account</span></a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="whole-wrap pb-100 mt-3">
    <div class="container">
        <div class="section-top-border">
            <div class="container no-results">
                {% if current_user.confirmed == true %}
                <h1 class="pt-3 pb-3">Your account is confirmed!</h1>
                <a onclick="linkClicked(document.getElementById('sell'), '/item/new'); return false;" href="/item/new"
                    class="genric-btn primary-border circle arrow">Start
                    Selling<span class="lnr lnr-arrow-right"></span></a>
                {% else %}
                <h1 class="pt-3 pb-3">Your account is not confirmed!</h1>
                <a onclick="sendConfirmationEmail('{{url_for('userAuth.send_confirm_email')}}', '{{current_user.email}}'); return false"
                    href="javascript:;" class="genric-btn success circle">
                    Send Confirmation Email to {{ current_user.email}}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    sendConfirmationEmail = (url, email) => {
        $.ajax({
            url: url || '#',
            type: 'POST',
            contentType: false,
            success: function (response) {
                toastr.options = { "positionClass": "toast-top-center", "closeButton": true }
                toastr.success(`Confirmation Email Sent to ${email}!`);
            },
            beforeSend: function (xhr, settings) {
                if (
                    !/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) &&
                    !this.crossDomain
                ) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
                $("body").toggleClass("loading");
                $("#loader-text").html('Sending Confirmation Email...')
            },
            complete: function () {
                $("body").toggleClass("loading");
                $("#loader-text").html('Loading...')
            }
        })
    }
</script>
{% endblock content %}