{% extends "layout.html" %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Save for later</h1>
                <nav class="d-flex align-items-center">
                    <a href="{{url_for('home')}}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Save for later</span></a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="whole-wrap pb-100 mt-3">
    <div class="container">
        <div class="section-top-border">
            <div class="container no-results">
                {% if confirmed %}
                <h1 class="pt-3 pb-3">Your account is confirmed!</h1>
                <a href="{{url_for('shop_api.shop')}}" class="genric-btn primary-border circle arrow">Start
                    Exploring<span class="lnr lnr-arrow-right"></span></a>
                {% else %}
                <h1 class="pt-3 pb-3">Your account is not confirmed!</h1>
                <a href="{{url_for('userAuth.send_confirm_email')}}" class="genric-btn success circle">
                    Send Confirmation Email to {{ current_user.email}}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}