{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Account</h1>
                <nav class="d-flex align-items-center">
                    <a onclick="linkClicked(null, '/home'); return false" href="/home">Home<span
                            class="lnr lnr-arrow-right"></span></a>
                    <a class="nav-no-href">Account</span></a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="whole-wrap pb-100 mt-3">
    <div class="container">
        <div class="section-top-border">
            <div class="container no-results">
                {% if current_user.confirmed == true %}
                <img class="icon-img" src="{{ url_for('static', filename='img/icons/Done.svg')}}"
                    alt="Account confirmed">
                <h2 class="pt-3 pb-3">Your account is confirmed!</h2>
                <a onclick="linkClicked(document.getElementById('sell'), '/item/new'); return false;" href="/item/new"
                    class="genric-btn primary-border circle arrow">Start
                    Selling<span class="lnr lnr-arrow-right"></span></a>
                {% else %}
                <img class="icon-img" src="{{ url_for('static', filename='img/icons/Fatal_Error.svg')}}"
                    alt="Account not confirmed">
                <h2 class="pt-3 pb-3">Your account is not confirmed!</h2>
                <a onclick="sendConfirmationEmail('{{url_for('userAuth.send_confirm_email')}}', '{{current_user.email}}'); return false"
                    href="javascript:;" class="genric-btn success circle">
                    Send Confirmation Email to {{ current_user.email}}</a>
                {% endif %}
                <br />
                <a style="margin-top: 300px;" class="genric-btn danger-border circle" data-toggle="modal"
                    data-target="#delete-account-modal">
                    Delete your account
                </a>
                <!-- Delete Modal -->
                <div class="modal fade" id="delete-account-modal" tabindex="-1" role="dialog"
                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Deleting your account is irrevocable. Please be certain.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <form action="{{url_for('account_delete')}}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    sendConfirmationEmail = (url, email) => {
        $.ajax({
            url: url || '#',
            type: 'POST',
            contentType: false,
            success: function (response) {
                console.log(response);
                if (response.result === 'failure-too-soon') {
                    toastr.options = { "positionClass": "toast-top-center", "closeButton": true }
                    toastr.error('We sent a confirmation email within an hour! Please check your inbox or try again later.');
                } else if (response.result === 'success') {
                    toastr.options = { "positionClass": "toast-top-center", "closeButton": true }
                    toastr.success(`Confirmation Email Sent to ${email}!`);
                }
            },
            beforeSend: function (xhr, settings) {
                if (
                    !/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) &&
                    !this.crossDomain
                ) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
                $("body").toggleClass("loading");
                $("#loader-text").html('Sending Confirmation Email...')
            },
            complete: function () {
                $("body").toggleClass("loading");
                $("#loader-text").html('Loading...')
            }
        })
    }
</script>
{% endblock content %}