<h1>Confirm your email address for Pacific University Books!</h1>

<p>Once you've confirmed that {{email}} is your email address, you can start selling
    books. Please click the link below to confirm your email address.
</p>

<span style="display:inline-block;position:relative;border-radius:4px;background-color:#2ea664;">
    <a href="{{ link }}" style="min-width:196px;border-top:13px solid;border-bottom:13px solid;border-right:24px solid;
border-left:24px solid;border-color:#2ea664;border-radius:4px;background-color:#2ea664;color:#ffffff;font-size:18px;line-height:18px;text-shadow:0 1px 1px 
#2e9a5f;display:inline-block;text-align:center;font-weight:900;text-decoration:none !important;">Confirm Email Address</a>
</span>
<p><em>This link will expire in 24 hours</em></p>