{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Help</h1>
        <nav class="d-flex align-items-center">
          <a href="javascript:linkClicked(document.getElementById('home'), '/home')">Home<span
              class="lnr lnr-arrow-right"></span></a>
          <a class="nav-no-href">FAQ</a>
        </nav>
      </div>
    </div>
  </div>
</section>

<div class="help-container container">
  <div>
    <div class="help-grid show">
      <div class="help-item">
        <span class="help-item-icon material-icons-outlined">
          monetization_on
        </span>
        <h3>How to sell</h3>
      </div>
      <div class="help-item">
        <span class="help-item-icon material-icons-outlined">
          shopping_cart
        </span>
        <h3>How to buy</h3>
      </div>
      <div class="help-item">
        <span class="help-item-icon material-icons-outlined">
          note_add
        </span>
        <h3 style="text-align: center;">Request to add school</h3>
      </div>
      <div class="help-item">
        <span class="help-item-icon material-icons-outlined">
          question_answer
        </span>
        <h3 style="text-align: center;">FAQ</h3>
      </div>
      <div class="help-item">
        <span class="help-item-icon material-icons-outlined">
          bug_report
        </span>
        <h3>Report a bug</h3>
      </div>
      <div class="help-item">
        <span class="help-item-icon material-icons">
          help_outline
        </span>
        <h3>Need help?</h3>
      </div>
    </div>
    <div id="help-detail-container">
      <button class="genric-btn primary circle" id="help-back">Back</button>
      <!-- sell -->
      <div class="help-detail" id="help-detail-0">
        <h2>How to start selling</h2>
        <p>1. <a class="sell-links" onclick="linkClicked(this, '/register')">Create</a> or <a class="sell-links"
            onclick="linkClicked(this, '/login')">Log
            in</a> to your account<i class="fas fa-user"></i></p>
        <p>2. <a class="sell-links" onclick="linkClicked(this, '/account')">Confirm</a> your account to prove that
          you're
          a local university
          student <i class="fas fa-user-check"></i></p>
        <p>3. <a class="sell-links" onclick="linkClicked(this, '/item/new')">Post</a> your item for sale<i
            class="fas fa-money-check-alt"></i></p>
        <p>4. Wait to receive an email from Unibooks notifying you that someone is interested in your item! <i
            class="fas fa-envelope"></i></p>
        <p>5. Reply to the buyer's email given in the email and sort out the details. <i class="fas fa-handshake"></i>
        </p>
        <div>
          <p style="margin-bottom: 0;">6a. Meet in person to complete the transaction somewhere on campus <i
              class="fas fa-user-friends"></i></p>
          <span>or</span>
          <p>6b. Receive the money via an payment service and ship the item.<i class="fas fa-shipping-fast"></i>
            <br />
            We recommend
            using Paypal service & goods for seller and buyer protection <i class="fab fa-paypal"></i></p>
        </div>
        <div class="sell-notes">
          <span>*Your email will be completely private until you decide to reply to the seller</span>
          <br />
          <span>*There's a limit of 10 postings at a time</span>
        </div>
      </div>
      <!-- buy -->
      <div class="help-detail" id="help-detail-1">
        <h2>How to start buying</h2>
        <p>1. <a class="sell-links" onclick="linkClicked(this, '/register')">Create</a> or <a class="sell-links"
            onclick="linkClicked(this, '/login')">Log
            in</a> to your account<i class="fas fa-user"></i></p>
        <p>2. <a class="sell-links" onclick="linkClicked(this, '/account')">Confirm</a> your account to prove that
          you're
          a local university
          student <i class="fas fa-user-check"></i></p>
        <p>3. Go to the <a class="sell-links" onclick="linkClicked(this, '/shop')">shop</a> page and look for book/items
          you need<i class="fas fa-book"></i></p>
        <p>4. Message the seller using Unibooks messaging feature and sort out the details <i
            class="fas fa-handshake"></i></p>
        <div>
          <p style="margin-bottom: 0;">5a. Meet in person to complete the transaction somewhere on campus <i
              class="fas fa-user-friends"></i></p>
          <span>or</span>
          <p>5b. Pay the buyer via an payment service and wait for your shipment.<i class="fas fa-shipping-fast"></i>
            <br />
            We recommend
            using Paypal service & goods for seller and buyer protection <i class="fab fa-paypal"></i></p>
        </div>
        <div class="sell-notes">
          <span>*Your email will be provided to the buyer</span>
          <br />
          <span>*If making an online transation, we strongly encourage to use a payment service with buyers
            protection</span>
        </div>
      </div>
      <!-- add school -->
      <div class="help-detail" id="help-detail-2">
        <div class="help-header-container">
          <h2>How you can help us add your school</h2>
        </div>
        <p>Make a donation - adding schools means we need to up our production cost <i class="fas fa-frown-open"></i>
        </p>
        <p>Provide us your schools courses and department information (In a parsable or SQL insert format <i
            class="fas fa-smile"></i>)
          - That will really save us some hassle</p>
        <p><i class="fas fa-envelope"></i>Contact us at addmyschool@unibooks.io - Let us know which school is in demand
          or
          show us how you're willing to help!</p>
      </div>
      <!-- common questions -->
      <div class="help-detail" id="help-detail-3">
        <h2>Common questions</h2>
        <p>Currently None...</p>
      </div>
      <!-- Report a bug -->
      <div class="help-detail" id="help-detail-4">
        <h2>Report a bug</h2>
        <div
          class="container-sm mb-5 contact-us-container {% if current_user.is_authenticated == False %}not-logged-in{% endif %}">
          <div class="message-overlay">
            <div class="message-error-container">
              <div class="message-error">
                <span>Please <a class="log-in-text"
                    href="javascript:linkClicked(document.getElementById('login'), '{{url_for('userAuth.login', next='/help')}}')">log
                    in</a> to contact us</span>
              </div>
            </div>
          </div>
          <form method="POST" id="message-form" action="" enctype="multipart/form-data">
            {{message_form.hidden_tag()}}
            <fieldset class="form-group">
              {% include "message_form.html" %}
        </div>
      </div>
      <!-- help -->
      <div class="help-detail" id="help-detail-5">
        <h2>Need Help?</h2>
        <div
          class="container-sm mb-5 contact-us-container {% if current_user.is_authenticated == False %}not-logged-in{% endif %}">
          <div class="message-overlay">
            <div class="message-error-container">
              <div class="message-error">
                <span>Please <a class="log-in-text"
                    href="javascript:linkClicked(document.getElementById('login'), '{{url_for('userAuth.login', next='/help')}}')">log
                    in</a> to contact us</span>
              </div>
            </div>
          </div>
          <form method="POST" id="message-form-2" action="" enctype="multipart/form-data">
            {{message_form.hidden_tag()}}
            <fieldset class="form-group">
              {% include "message_form_2.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let change = null;
  function load(elem, i) {
    setTimeout(function () {
      elem.classList.add("load");
    }, 150 * i);
  }

  function deLoad(elem, i) {
    setTimeout(function () {
      elem.classList.remove("load");
    }, 150 * i);
  }

  const fadeIn = () => {
    let elements = document.querySelectorAll(".help-item");
    for (var i = 0; i < elements.length; i++) {
      load(elements[i], i);
      elements[i].onclick = fadeOut.bind(null, i);
    }
  }

  const changeContent = (num) => {
    document.getElementsByClassName('help-grid')[0].style.display = 'none';
    $(`#help-detail-${num}`).fadeIn(500);
    $('#help-back').fadeIn(500);
    load(document.getElementById(`help-detail-container`), 0)
    change = num;
  }

  const fadeOut = (num) => {
    let elements = document.querySelectorAll(".help-item");

    let count = 0;
    let x = num;
    deLoad(elements[num], count);
    elements[num].onclick = null;
    console.log("!!", elements[num].onclick)
    count++;
    x++;
    while (count < 6) {
      if (x > 5) x = 0;
      deLoad(elements[x], count);
      elements[x].onclick = null;
      x++;
      count++;
    }

    setTimeout(changeContent.bind(null, num), 1200)
  }

  document.getElementById('help-back').addEventListener(
    "click", function () {
      $('#help-back').fadeOut(500);
      deLoad(document.getElementById(`help-detail-container`))
      $(`#help-detail-${change}`).fadeOut(500, function () {
        fadeIn();
        document.getElementsByClassName('help-grid')[0].style.display = 'grid'
      });
      let details = document.querySelectorAll(".help-detail");
    }
  )
  fadeIn();


</script>
{% endblock content %}