{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Help</h1>
        <nav class="d-flex align-items-center">
          <a href="javascript:linkClicked(document.getElementById('home'), '/home')">Home<span
              class="lnr lnr-arrow-right"></span></a>
          <a class="nav-no-href">FAQ</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->
<!-- <div class="container mt-3">
    <p>
        <a data-toggle="collapse" href="#howtosell" role="button" aria-expanded="false" aria-controls="collapseExample">
          How to sell?
        </a>
      </p>
      <div class="collapse" id="howtosell">
        <div class="card card-body mb-3">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
      <p>
        <a data-toggle="collapse" href="#howtobuy" role="button" aria-expanded="false" aria-controls="collapseExample">
          How to buy?
        </a>
      </p>
      <div class="collapse" id="howtobuy">
        <div class="card card-body mb-3">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
      <p>
        <a data-toggle="collapse" href="#transactionsafety" role="button" aria-expanded="false" aria-controls="collapseExample">
          How safe are the transactions?
        </a>
      </p>
      <div class="collapse" id="transactionsafety">
        <div class="card card-body mb-3">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
</div> -->
<button id="help-back">back</button>

<div class="help-container">
  <div class="help-grid show">
    <div class="help-item">231</div>
    <div class="help-item">23321</div>
    <div class="help-item">3243</div>
    <div class="help-item">231</div>
    <div class="help-item">23321</div>
    <div class="help-item">3243</div>
  </div>
</div>
<script>
  const fadeIn = () => {
    let elements = document.querySelectorAll(".help-item");
    for (var i = 0; i < elements.length; i++) {
      load(elements[i], i);
      console.log(elements[i])
    }

    function load(elem, i) {
      setTimeout(function () {
        elem.classList.add("load");
      }, 100 * i);
    }
  }

  const changeContent = () => {
    document.getElementsByClassName('help-grid')[0].innerHTML = `
    <div class="">231</div>`
  }

  const fadeOut = (num) => {
    console.log(num);
    let elements = document.querySelectorAll(".help-item");

    let count = 0;
    let x = num;
    y = num;
    deLoad(elements[num], count);
    count++;
    x--;
    y++;
    while (x > 0 && y < elements.length) {
      deLoad(elements[x], count);
      x--;
      deLoad(elements[y], count);
      y++;
      count++;
    }

    while (x >= 0) {
      deLoad(elements[x], count);
      count++;
      x--;
    }

    while (y < elements.length) {
      deLoad(elements[y], count);
      count++;
      y++;
    }

    // for (var i = 0; i < elements.length; i++) {
    //   deLoad(elements[i], i);
    // }
    setTimeout(changeContent, 100 * 8)
    function deLoad(elem, i) {
      setTimeout(function () {
        elem.classList.remove("load");
      }, 100 * i);
    }
  }

  let elements = document.querySelectorAll(".help-item");

  for (var i = 0; i < elements.length; i++) {
    elements[i].addEventListener("click", fadeOut.bind(null, i));
  }

  document.getElementById('help-back').addEventListener(
    "click", function () {
      console.log("back clicked")
      document.getElementsByClassName('help-grid')[0].classList.remove('show')
      document.getElementsByClassName('help-grid')[0].innerHTML = `
    <div class="help-item" onclick="fadeOut(1)">231</div>
    <div class="help-item" onclick="fadeOut(2)">23321</div>
    <div class="help-item" onclick="fadeOut(3)">3243</div>
    <div class="help-item" onclick="fadeOut(4)">231</div>
    <div class="help-item" onclick="fadeOut(5)">23321</div>
    <div class="help-item" onclick="fadeOut(6)">3243</div>`
      document.getElementsByClassName('help-grid')[0].classList.add('show')
      setTimeout(fadeIn, 500)
    }
  )
  fadeIn();


</script>
{% endblock content %}