{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Help</h1>
        <nav class="d-flex align-items-center">
          <a href="javascript:linkClicked(document.getElementById('home'), '/home')">Home<span
              class="lnr lnr-arrow-right"></span></a>
          <a class="nav-no-href">FAQ</a>
        </nav>
      </div>
    </div>
  </div>
</section>

<div class="help-container container">
  <div>
    <button class="genric-btn primary circle" id="help-back">Back</button>
    <div class="help-grid show">
      <div class="help-item" style="order: 1;">
        <i class="help-item-icon fas fa-book"></i>
        <h3>How to sell</h3>
      </div>
      <div class="help-item" style="order: 2;">
        <i class="help-item-icon fas fa-shopping-cart"></i>
        <h3>How to buy</h3>
      </div>
      <div class="help-item" style="order: 3;">
        <i class="help-item-icon fas fa-edit"></i>
        <h3 style="text-align: center;">Request to add school</h3>
      </div>
      <div class="help-item" style="order: 6;">
        <i class="help-item-icon fas fa-question"></i>
        <h3 style="text-align: center;">FAQ</h3>
      </div>
      <div class="help-item" style="order: 5;">
        <i class="help-item-icon fas fa-bug"></i>
        <h3>Report a bug</h3>
      </div>
      <div class="help-item" style="order: 4;">
        <i class="help-item-icon fas fa-question-circle"></i>
        <h3>Need help?</h3>
      </div>
    </div>
    <!-- sell -->
    <div class="help-detail">
      <h2>How to start selling</h2>
      <p>1. <a class="sell-links" onclick="linkClicked(this, '/register')">Create</a> or <a class="sell-links"
          onclick="linkClicked(this, '/login')">Log
          in</a> to your account<i class="fas fa-user"></i></p>
      <p>2. <a class="sell-links" onclick="linkClicked(this, '/account')">Confirm</a> your account to prove that you're
        a local university
        student <i class="fas fa-user-check"></i></p>
      <p>3. <a class="sell-links" onclick="linkClicked(this, '/item/new')">Post</a> your item for sale<i
          class="fas fa-money-check-alt"></i></p>
      <p>4. Wait to receive an email from Unibooks notifying you that someone is interested in your item! <i
          class="fas fa-envelope"></i></p>
      <p>5. Reply to the buyer's email given in the email and sort out the details. <i class="fas fa-handshake"></i></p>
      <div>
        <p style="margin-bottom: 0;">6a. Meet in person to complete the transaction somewhere on campus <i
            class="fas fa-user-friends"></i></p>
        <span>or</span>
        <p>6b. Receive the money via an payment service and ship the item.<i class="fas fa-shipping-fast"></i>
          <br />
          We recommend
          using Paypal service & goods for seller and buyer protection <i class="fab fa-paypal"></i></p>
      </div>
      <div class="sell-notes">
        <span>*Your email will be completely private until you decide to reply to the seller</span>
        <br />
        <span>*There's a limit of 10 postings at a time</span>
      </div>
    </div>
    <!-- buy -->
    <div class="help-detail">
      <h2>How to start buying</h2>
      <p>1. <a class="sell-links" onclick="linkClicked(this, '/register')">Create</a> or <a class="sell-links"
          onclick="linkClicked(this, '/login')">Log
          in</a> to your account<i class="fas fa-user"></i></p>
      <p>2. <a class="sell-links" onclick="linkClicked(this, '/account')">Confirm</a> your account to prove that you're
        a local university
        student <i class="fas fa-user-check"></i></p>
      <p>3. Go to the <a class="sell-links" onclick="linkClicked(this, '/shop')">shop</a> page and look for book/items
        you need<i class="fas fa-book"></i></p>
      <p>4. Message the seller using Unibooks messaging feature and sort out the details <i
          class="fas fa-handshake"></i></p>
      <div>
        <p style="margin-bottom: 0;">5a. Meet in person to complete the transaction somewhere on campus <i
            class="fas fa-user-friends"></i></p>
        <span>or</span>
        <p>5b. Pay the buyer via an payment service and wait for your shipment.<i class="fas fa-shipping-fast"></i>
          <br />
          We recommend
          using Paypal service & goods for seller and buyer protection <i class="fab fa-paypal"></i></p>
      </div>
      <div class="sell-notes">
        <span>*Your email will be provided to the buyer</span>
        <br />
        <span>*If making an online transation, we strongly encourage to use a payment service with buyers
          protection</span>
      </div>
    </div>
    <!-- add school -->
    <div class="help-detail">
      <div class="help-header-container">
      <h2>How you can help us add your school</h2>
      </div>
      <p>Make a donation - adding schools means we need to up our production cost <i class="fas fa-frown-open"></i></p>
      <p>Provide us your schools courses and department information (In a parsable or SQL insert format <i class="fas fa-smile"></i>)
        - That will really save us some hassle</p>
      <p><i class="fas fa-envelope"></i>Contact us at addmyschool@unibooks.io - Let us know which school is in demand or show us how you're willing to help!</p>
    </div>
    <!-- common questions -->
    <div class="help-detail">
      <h2>Reserved for common questions</h2>
      <p>Currently None...</p>
    </div>
    <!-- Report a bug -->
    <div class="help-detail">
      <h2>Report a bug</h2>
      <div class="container-sm mb-5 {% if current_user.is_authenticated == False %}not-logged-in{% endif %}"
        id="contact-us-container">
        <div class="message-overlay">
          <div class="message-error-container">
            <div class="message-error">
              <span>Please <a class="log-in-text"
                  href="javascript:linkClicked(document.getElementById('login'), '{{url_for('userAuth.login', next='/help')}}')">log
                  in</a> to contact us</span>
            </div>
          </div>
        </div>
        <form method="POST" id="message-form" action="" enctype="multipart/form-data">
          {{message_form.hidden_tag()}}
          <fieldset class="form-group">
            {% include "message_form.html" %}
      </div>
    </div>
    <!-- help -->
    <div class="help-detail">
      <h2>Need Help?</h2>
      <div class="container-sm mb-5 {% if current_user.is_authenticated == False %}not-logged-in{% endif %}"
        id="contact-us-container">
        <div class="message-overlay">
          <div class="message-error-container">
            <div class="message-error">
              <span>Please <a class="log-in-text"
                  href="javascript:linkClicked(document.getElementById('login'), '{{url_for('userAuth.login', next='/help')}}')">log
                  in</a> to contact us</span>
            </div>
          </div>
        </div>
        <form method="POST" id="message-form" action="" enctype="multipart/form-data">
          {{message_form.hidden_tag()}}
          <fieldset class="form-group">
            {% include "message_form.html" %}
      </div>
    </div>
  </div>
</div>
<script>
  function load(elem, i) {
    setTimeout(function () {
      elem.classList.add("load");
    }, 100 * i);
  }

  function deLoad(elem, i) {
    setTimeout(function () {
      elem.classList.remove("load");
    }, 100 * i);
  }

  const fadeIn = () => {
    let elements = document.querySelectorAll(".help-item");
    for (var i = 0; i < elements.length; i++) {
      load(elements[i], i);
    }
  }

  const changeContent = (num) => {
    console.log(typeof num)
    console.log(document.querySelectorAll('.help-detail')[parseInt(num)])
    document.querySelectorAll('.help-detail')[num].style.display = 'block'
    document.getElementsByClassName('help-grid')[0].style.display = 'none'
    load(document.getElementsByClassName('help-detail')[num], 0)
    document.getElementById('help-back').classList.add('show');
  }

  const fadeOut = (num) => {
    console.log(num);
    let elements = document.querySelectorAll(".help-item");

    let count = 0;
    let x = num;
    y = num;
    deLoad(elements[num], count);
    count++;
    x--;
    y++;
    while (x > 0 && y < elements.length) {
      deLoad(elements[x], count);
      x--;
      deLoad(elements[y], count);
      y++;
      count++;
    }

    while (x >= 0) {
      deLoad(elements[x], count);
      count++;
      x--;
    }

    while (y < elements.length) {
      deLoad(elements[y], count);
      count++;
      y++;
    }

    // for (var i = 0; i < elements.length; i++) {
    //   deLoad(elements[i], i);
    // }
    setTimeout(changeContent.bind(null, num), 100 * 10)
  }

  let elements = document.querySelectorAll(".help-item");

  for (var i = 0; i < elements.length; i++) {
    elements[i].addEventListener("click", fadeOut.bind(null, i));
  }

  document.getElementById('help-back').addEventListener(
    "click", function () {
      console.log("back clicked")
      let elements = document.querySelectorAll(".help-item");
      for (var i = 0; i < elements.length; i++) {
        load(elements[i], i)
      }
      document.getElementsByClassName('help-grid')[0].style.display = 'grid'
      document.getElementById('help-back').classList.remove('show');
      let details = document.querySelectorAll(".help-detail");
      for (var i = 0; i < details.length; i++) {
        console.log(i, details[i])
        details[i].style.display = 'none';
        deLoad(details[i]);
      }
    }
  )
  fadeIn();


</script>
{% endblock content %}