{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- start banner Area -->
<section class="banner-area">
	<div class="banner-content">
		<div class="row banner-row">
       	 <div class="col-lg-6 self-center">
          	<h2>The ultimate university </br>marketplace</h2>
        	</div>
        	<div class="col-lg-6">
          		<img class="banner-img" src="static/img/banner-img-desk.png" alt="iphone-mockup">
        	</div>
      	</div>
	</div>	  
</section>
<!-- End banner Area -->
<!-- Start feature Area -->
<section class="feature-area">
	<div class="container marketing">
		<!-- Three columns of text below the carousel -->
		<div class="animation-element bounce-up">
					<h2>What is Unibooks?</h2>
		</div><!-- /.animation-element-->
	</div>
</section>
<!-- End feature Area -->
<script src="{{ url_for('static', filename='js/home.js')}}"></script>

{% endblock content %}