{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- start banner Area -->
<section class="banner-area">
	<div class="banner-content">
		<div class="row banner-row">
       	 <div class="col-lg-6 self-center">
          	<h1>The ultimate university </br>marketplace</h1>
        	</div>
        	<div class="col-lg-6 swing-in-top-bck">
          		<img class="banner-img" src="static/img/banner-img-desk.png" alt="desk">
        	</div>
      	</div>
	</div>	  
</section>
<!-- End banner Area -->
<!-- Start feature Area -->
<div class="animation-element bounce-up">
<section class="section-features">
	<div class="feature-header">
		<h2 class="home-h2">What is Unibooks?</h2>
		</br>
		<h5>Unibooks is an online marketplace where students can buy, sell, or trade used textbooks (and other stuff too)</h5>
	</div>
    <div class="grid-row">
        <div class="col-1-of-3">
            <div class="feature-box">
				<i class="feature-box__icon ti-bookmark-alt"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">Buy what you need</h3>
                <p class="feature-box__text">
                    Search for everything from textbooks to furniture, all local to your area
                </p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="feature-box">
                <i class="feature-box__icon ti-money"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">Sell what you don't</h3>
                <p class="feature-box__text">
                    Post the stuff you no longer need up for sale at your own price
                </p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="feature-box">
                <i class="feature-box__icon ti-map-alt"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">Local students only</h3>
                    <p class="feature-box__text">
                    All items posted are from your campus, so no shipping or travelling required
                </p>
            </div>
        </div>
    </div>

</section>
</div>
<!-- End feature Area -->
<!-- start How Area -->
<section class="section-tutorial">
	<div class="tutorial-content">
        <div class="tutorial-header">
		    <h2 class="home-h2">How it works</h2>
	    </div>
		<div class="row tutorial-row animation-element bounce-left">
       	    <div class="col-lg-6 self-center">
               <h2><a class="tutorial-link" onclick="linkClicked(this, '{{ url_for('userAuth.register')}}')">Create</a> an account or
               <a class="tutorial-link" onclick="linkClicked(this, '{{ url_for('userAuth.login')}}')">log in</a></h2>
               <p>Use your .edu email address to create a free account</p>
      	    </div>
            <div class="col-lg-6 self-center">
                <img class="tutorial-img" src="static/img/how_to/holding-phone-colour.svg" alt="phone">
            </div>
	    </div>
		<div class="row tutorial-row animation-element bounce-right flex-contain">
            <div class="col-lg-6 self-center flex-2">
                <img class="tutorial-img" src="static/img/how_to/shopping-cart-colour.svg" alt="phone">
            </div>
       	    <div class="col-lg-6 self-center flex-1">
               <h2><a class="tutorial-link" onclick="linkClicked(this, '{{ url_for('shop_api.shop')}}')">Shop</a> for what you need</h2>
               <p>Search for used textbooks and more, all local to your campus</p>
      	    </div>
	    </div>
		<div class="row tutorial-row animation-element bounce-left">
       	    <div class="col-lg-6 self-center">
               <h2><a class="tutorial-link" onclick="linkClicked(this, '{{ url_for('shop_api.shop')}}')">Connect</a> with local sellers</h2>
               <p>Message the seller directly to work out the details</p>
      	    </div>
            <div class="col-lg-6 self-center">
                <img class="tutorial-img" src="static/img/how_to/handshake-colour.svg" alt="phone">
            </div>
	    </div>
		<div class="row tutorial-row animation-element bounce-right flex-contain">
            <div class="col-lg-6 self-center flex-2">
                <img class="tutorial-img" src="static/img/how_to/schoolbooks-colour.svg" alt="phone">
            </div>
       	    <div class="col-lg-6 self-center flex-1">
               <h2><a class="tutorial-link" onclick="linkClicked(this, '{{ url_for('new_item')}}')">Sell</a> your stuff to local students</h2>
               <p>Post your used items at your own price with no fees and no hassle</p>
      	    </div>
	    </div>
    </div>	  
</section>
<!-- End How Area -->
<script>
var url = "{{ url_for('static', filename='js/home.js')}}";
$.getScript(url);
</script>

{% endblock content %}