{% block body_content %}
<section class="lattest-product-area pb-40 category-list" id="react-container">
    <div class="row">
        <!-- <div id="one">
        </div> -->

        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

        <script>
            'use strict';

            const e = React.createElement;

            class LikeButton extends React.Component {
                constructor(props) {
                    super(props);
                    this.state = { liked: false, posts: 0 };
                }

                componentDidMount() {
                    fetch('{{url_for("shop_api.shop_get_list", curPage=page)}}').then(response => response.json()).then(data => this.setState({ posts: data }))
                }

                render() {
                    if (this.state.posts.posts && this.state.posts.posts.length > 0) {
                        return e('div', { className: 'row' }, null, [
                            this.state.posts.posts.map((item, i) =>
                                e("div", { className: 'col-lg-4 col-md-6' }, null, [
                                    e("div", { className: 'single-product' }, null, [
                                        e("img", {
                                            className: "img-thumbnail list-image",
                                            src: `https://book-advertisement-site.s3-us-west-2.amazonaws.com/${item.thumbnail}`
                                        }),
                                        e("div", { className: "product-details" }, null, [
                                            e("h6", { className: "hover-line" }, [
                                                e("a", { href: `/shop/${item.id}` }, null, item.name)
                                            ]),
                                            e("div", { className: "price" }, null, [
                                                e("h6", null, item.price)
                                            ]),
                                            e("div", { className: "prd-bottom" }, null, [
                                                e("a", { className: "social-info", href: `/shop/${item.id}` }, [
                                                    e("span", { className: "lnr lnr-move" }, null),
                                                    e("p", { className: "hover-text" }, null, 'View More')
                                                ]),
                                                item.isOwner ?
                                                    e('a', { dataToggle: "modal", dataTarget: `#deleteModal${i}`, href: "javascript:void(0)", className: "social-info" }, null, [
                                                        e('span', { className: 'lnr lnr-trash' }, null),
                                                        e('p', { className: 'hover-text' }, null, 'Delete')
                                                    ])
                                                    :
                                                    e('a', {onClick: addToBag(`${item.id}`, '{{current_user.id}}'), href: "javascript:void(0)", className: "social-info"}, null, [
                                                        e('span', {className: "ti-bag"}, null),
                                                        e('p', {className: "hover-text"}, null, 'Add to Bag')
                                                    ])
                                            ]),

                                        ])
                                    ])
                                ])
                            )
                        ]);
                    } else {
                        return e('div', null, '')
                    }
                }
            }

            const domContainer = document.querySelector('#react-container');
            ReactDOM.render(e(LikeButton), domContainer);
        </script>
    </div>
</section>

<script>
    function addToBag(item_id, user_id) {
        var url = "{{url_for('add_to_bag', item='tempItem', user='tempUser')}}"
            .replace('tempItem', item_id).replace('tempUser', user_id).replace('&amp;', '&')
        console.log(url);

        $.post(url, null, (data, status) => {
            console.log(data);
            console.log(status);
            // location.reload();
            console.log(data.added);
            if (data.added) {
                let bagIcon = document.getElementsByClassName("bag-icon")[0];
                bagIcon.innerHTML = parseInt(bagIcon.innerHTML) + 1;
            }
        })
    }
</script>
{% endblock %}