<!DOCTYPE html>
<html lang="en">

<head>
  {% if title == "Home" %}
  <title> Unibooks | The Ultimate University Marketplace</title>
  {% elif title %}
  <title>{{title}} | Unibooks</title>
  {% else %}
  <title>Unibooks</title>
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
  <meta name="author" content="Forbes Miyasato, Thomas Robasciotti">
  <meta name="description"
    content="The ultimate university online marketplace where students can buy, sell, or trade used textbooks (and other stuff too)">
  <meta name="keyword" content="Books, University, Textbooks">
  <link rel="canonical" href="https://unibooks.io/home" />

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PTKJJXZ');</script>
  <!-- End Google Tag Manager -->

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Sacramento&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}?ver=1111">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}?ver=1113">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css')}}">
  <script src="https://kit.fontawesome.com/58d8160f79.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css')}}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"> -->

  <script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js')}}"></script>

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="{{ url_for('static', filename='fileuploader/dist/font/font-fileuploader.css')}}" media="all"
    rel="stylesheet">

  <!-- css -->
  <link href="{{ url_for('static', filename='fileuploader/dist/jquery.fileuploader.min.css')}}" media="all"
    rel="stylesheet">
  <link
    href="{{ url_for('static', filename='fileuploader/examples/thumbnails/css/jquery.fileuploader-theme-thumbnails.css')}}"
    media="all" rel="stylesheet">


  <!-- js -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script> -->

  <script src="{{ url_for('static', filename='fileuploader/dist/jquery.fileuploader.min.js')}}"
    type="text/javascript"></script>

  <!-- selectize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
    integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
    integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

  <script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>

  <!-- javascript -->
  <script src="{{ url_for('static', filename='js/shop.js')}}?ver=1113"></script>

  <!-- toastr -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <!-- meterial icons -->
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/gh/WangYuLue/image-conversion/build/conversion.js"></script>

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTKJJXZ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- Start Header Area -->
  <script>
    var csrf_token = "{{ csrf_token() }}";
  </script>
  <header id="sticky" class="header_area sticky-header">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light main_box">
        <div class="header-container container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand" onclick="linkClicked(null, '/home'); return false;" href="/home">
            <h1 class="logo-header">Uni<span class="logo-highlight">books</span></h1>
          </a>
          <div class="switch-container-full">
            <span id="school-name-normal"></span>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item"><a id="home"
                  class="nav-link activable {% if (title == 'Home' or title == 'About Us' or title == 'Contact Us' or title == 'Help') %}active{% endif %}"
                  onclick="linkClicked(this, '{{ url_for('home')}}'); return false;"
                  href="{{ url_for('home')}}">Home</a></li>
              <li class="nav-item"><a id="shop" class="nav-link activable {% if title == 'Shop' %}active{% endif %}"
                  onclick="linkClicked(this, '{{ url_for('shop_api.shop')}}'); return false;"
                  href="{{ url_for('shop_api.shop')}}">shop</a></li>
              {% if current_user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('userAuth.logout')}}">Logout</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" id="user" class="nav-link activable dropdown-toggle 
                {% if (title == 'Listings' or title == 'Account' or title == 'Saved') %}active{% endif %}"
                  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link activable"
                      onclick="linkClicked(this, '{{ url_for('account')}}'); return false;"
                      href="{{ url_for('account')}}">Account</a></li>
                  <li class="nav-item"><a class="nav-link activable"
                      onclick="linkClicked(this, '{{ url_for('listings')}}'); return false;"
                      href="{{ url_for('listings')}}">Listings</a></li>
                  <li class=" nav-item"><a class="nav-link"
                      onclick="linkClicked(this, '{{ url_for('saved_for_later')}}'); return false;"
                      href="{{ url_for('saved_for_later')}}">Saved</a></li>
                </ul>
              </li>
              {% else %}
              <li class=" nav-item"><a id="login" class="nav-link activable {% if title == 'Login' %}active{% endif %}"
                  onclick="linkClicked(this, '{{ url_for('userAuth.login')}}'); return false;"
                  href="{{ url_for('userAuth.login')}}">Login</a></li>
              <li class="nav-item"><a id="register"
                  class="nav-link activable {% if title == 'Register' %}active{% endif %}"
                  onclick="linkClicked(this, '{{ url_for('userAuth.register')}}'); return false;"
                  href="{{ url_for('userAuth.register')}}">Register</a></li>
              {% endif %}
              <li class="nav-item"><a id="sell" class="nav-link activable {% if title == 'Sell' %}active{% endif %}"
                  onclick="linkClicked(this, '{{ url_for('new_item')}}'); return false;"
                  href="{{ url_for('new_item')}}">Sell</a></li>
            </ul>
            <ul class=" nav navbar-nav navbar-right">
              <li class="nav-item"><a id="shopping-cart"
                  onclick="linkClicked(this, '{{ url_for('saved_for_later')}}?cart'); return false;"
                  href="{{ url_for('saved_for_later')}}?cart"
                  class="cart activable {% if title == 'Saved?cart' %}active{% endif %}">
                  <span class="fa-stack fa-1x has-badge" data-count="{{ numItems|length }}">
                    <!-- <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fa fa-shopping-cart fa-stack-2x shopping-cart"></i> -->
                    <span class="lnr lnr-cart shopping-cart"></span>
                  </span> </a></li>
              <li class="nav-item switch-container-mobile">
                <span id="school-name-mobile"></span>
              </li>
              <li class="nav-item">
                <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="search_input" id="search_input_box">
      <div class="container-wrapper">
        <div class="container">
          <form class="d-flex justify-content-between" id="search_form">
            <input type="text" class="form-control" id="search_input" placeholder="Search Here">
            <button type="submit" class="btn"></button>
            <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
          </form>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
      toastr.options = { "positionClass": "toast-top-center", "closeButton": true, "timeOut": "5000" }
      toastr.{{category}}("{{message}}");
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </header>
  <!-- End Header Area -->
  <div class="overlay">
    <div>
      <div class="loader">Loading...</div>
      <h3 class="loader-text" id="loader-text">Loading...</h3>
    </div>
  </div>
  <div class="school-overlay">
    <div class="school-modal">
      <h3 class="school-text">Please Select Your School</h3>
      <form id="school-form">
        <select required name="school-list" class="school-list" id='school-list' placeholder="Select School">
          <option value="">Select School</option>
          {% for school in schools %}
          <option value='{{ school.id }}' {%if school.id == 2 or school.id == 3%} disabled {% endif %}>{{school.name}}
          </option>
          {% endfor %}
        </select>
        <button class="genric-btn primary" type="submit">That's my school!</button>
      </form>
    </div>
  </div>
  </div>

  <div id="block-content">
    {% block content %}
    {% endblock %}
  </div>

  <!-- start footer Area -->
  <footer class="footer-area section_gap">
    <div class="switch-text-footer">
      <div class="footer-center">
        <i class="fas fa-circle"></i>
        <span style="font-size: 16px" id="school-name-footer"></span>
        <a onclick="switchSchool()" class="footer-item">Switch School</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Uni<span class="it">books</span></h6>
            <p>
              <a class="footer-item" onclick="linkClicked(this, '{{url_for('about_us')}}')">About Us</a>
            </p>
            <p>
              <a class="footer-item" onclick="linkClicked(this, '{{url_for('help')}}')">FAQ</a>
            </p>
            <p>
              <a class="footer-item" onclick="linkClicked(this, '{{url_for('private_policy')}}')">Privacy Policy</a>
            </p>
            <p>
              <a class="footer-item" onclick="linkClicked(this, '{{url_for('terms_of_service')}}')">Terms of Service</a>
            </p>
            <p>
              <a class="footer-item" onclick="linkClicked(this, '{{url_for('donate')}}')">Donate</a>
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Contact <span class="it">Us</span></h6>
            <p>
              <a class="footer-item" onclick="linkClicked(this, '{{url_for('leave_a_message')}}')">Leave a Message</a>
            </p>
            <p style="font-size: 16px">
              contact@unibooks.io
            </p>
            <div class="footer-social d-flex align-items-center">
              <a href="https://www.linkedin.com/in/forbesmiyasato/"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/forbesmiyasato"><i class="fa fa-github"></i></a>
              <a href="https://www.instagram.com/forbesmiyasato/"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div id="popup-message-right">
    <div class="popup-message-content">
      <span id="popup-close-btn">&#215;</span>
      <span class="lnr lnr-warning"></span>
      <p>Unibooks is undergoing it's final testing before official release.
      <p>If you find any bugs or have any suggestions please email us at
        contact@unibooks.io</p>
      <p>We'll also be emailing a simple survey according to the registered email.</p>
      <p><b>Thank you for using Unibooks!</b></p>
    </div>
  </div>
  <!-- End footer Area -->
  <!-- Optional JavaScript -->
  <script>
    const togglePopup = () => {
      const popup = document.getElementById('popup-message-right');
      if (localStorage.getItem('school') && !sessionStorage.getItem('popup')) {
        document.getElementById('popup-close-btn').onclick = () => {
          $("#popup-message-right").animate({
            right: "-230px"
          }, 1000, function () {
            $('#popup-message-right').hide();
          })
        }
        sessionStorage.setItem('popup', 'showed');
      } else {
        popup.style.display = 'none';
      }
    }

    togglePopup();

    highlightNavLink();
    var call;
    // initialize the Selectize control
    $(document).ajaxError(function (event, jqXHR, ajaxSettings, thrownError) {
      if (jqXHR.handledLocally) {
        return;
      }
      if (thrownError === 'abort') {
        return;
      }
      toastr.options = { "positionClass": "toast-top-center", "closeButton": true }
      toastr.error("Something went wrong :( Please try again later or contact us about the issue.");
    })

    var $select = $('select').selectize();

    // fetch the instance
    var selectize = $select[0].selectize;

    let selectList = document.getElementById('school-list');

    let selectListInput = document.getElementById('school-list-selectized')
    selectListInput.setCustomValidity('You must select a school!');

    selectList.onchange = function () {
      if (!selectList.value) {
        selectListInput.setCustomValidity('You must select a school!');
      } else {
        selectListInput.setCustomValidity('');
      }
    };

    const toggleSwitchSchoolModal = () => {
      $("body").toggleClass("need-school");
      toastr.remove()
    }

    let state = null;

    const switchSchool = () => {
      toastr.remove()
      let message;
      const ending = "Click to "
      toastr.options = {
        "positionClass": "toast-top-center", "timeOut": "0", "extendedTimeOut": "0",
        "tapToDismiss": false
      }

      if ('{{current_user.is_authenticated}}' === 'True') {
        message = 'Are you sure? You will be logged out if you change schools.'
        state = 'loggout'
      } else {
        message = 'Are you sure you want to switch schools?'
      }
      toastr.warning(`<div id="switch-school-warning"><button onclick="toastr.remove()" type="button" id="NoBtn" 
        class="btn btn-outline-dark">Nevermind</button>
        <button type="button" id="YesBtn" onclick="toggleSwitchSchoolModal()" class="btn" 
        style="margin: 0 8px 0 8px">Yes</button></div>`, message);
    }

    const checkSchool = () => {
      var school = localStorage.getItem('school');

      if (school && sessionStorage.justChangedSchool === 'true') {
        toastr.options = { "positionClass": "toast-top-center", "closeButton": true }
        toastr.success(`Your school is set to ${getSchoolName(school)}`);
        sessionStorage.justChangedSchool = false;
      } else {

        if (!school || school == null || school === 'undefined') {
          $("body").toggleClass("need-school");
        } else {
          $.ajax({
            url: '/setschool',
            type: "post",
            data: { 'school': school },
            async: true,
            beforeSend: function (xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
            }
          })
        }

        var $schoolForm = $('#school-form');

        // form submit
        $schoolForm.on('submit', function (e) {
          e.preventDefault()
          localStorage.setItem('school', selectize.getValue())
          var school = localStorage.getItem('school');
          if (school || school != null || school !== 'undefined') {
            $("body").toggleClass("need-school");
          }

          $.ajax({
            url: `/setschool`,
            type: "post",
            data: { 'state': state, 'school': school },
            async: true,
            beforeSend: function (xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
            },
            success: function () {
              sessionStorage.justChangedSchool = true;
              $(window).scrollTop(0);
              location.reload();
              state = null;
            }
          })
        })
      }
      setSchoolName(school);
    }

    checkSchool();

    search_form = document.getElementById('search_form');
    function search(event) {
      event.preventDefault();
      search_input = document.getElementById('search_input').value;
      const searchDropdown = $('.search_input')[0]
      if (searchDropdown) {
        searchDropdown.style.display = 'none'
      }

      linkClicked(document.getElementById('shop'), `/shop?search=${search_input}`, search_input)
    }

    search_form.addEventListener("submit", search);

    let home_html = null;
    let login_html = null;
    let register_html = null;
    let about_html = null;
    let shop_html = null;
    let saved_html = null;
    let listings_html = null;
    let account_html = null;
    let message_html = null;
    let help_html = null;
    let privacy_html = null;
    let terms_html = null;
    let donate_html = null;

    const redirect = (paths) => {
      path = window.location.pathname

      //to abort the single product page request when backtracking to shop page
      if (itemRequest) {
        itemRequest.abort()
        itemRequest = null;
      }

      if ((path === '/home' || path === "/") && home_html) {
        $('#block-content').html(home_html);
      } else if (path === '/login' && login_html) {
        $('#block-content').html(login_html);
      } else if (path === '/register' && register_html) {
        $('#block-content').html(register_html);
      } else if (path === '/shop' && shop_html) {
        $('#block-content').html(shop_html);
      } else if (path === '/aboutus' && about_html) {
        $('#block-content').html(about_html);
      } else if (path === '/contactus' && message_html) {
        $('#block-content').html(message_html);
      } else if (path === '/help' && help_html) {
        $('#block-content').html(help_html);
      } else if (path === '/account' && account_html) {
        $('#block-content').html(account_html);
      } else if (path === '/listings' && listings_html) {
        $('#block-content').html(listings_html);
      } else if (path === '/saved' && saved_html) {
        $('#block-content').html(saved_html);
      } else if (path === '/privacy' && privacy_html) {
        $('#block-content').html(privacy_html);
      } else if (path === '/legal' && terms_html) {
        $('#block-content').html(terms_html);
      } else if (path === '/donate' && donate_html) {
        $('#block-content').html(donate_html);
      } else {
        call = $.ajax({
          url: location.href,
          type: "get",
          data: { standalone: 'true' },
          async: true,
          success: function (response) {
            toastr.options = { "positionClass": "toast-top-center", "closeButton": true }

            if (response['missing-session']) {
              window.location.href = response['missing-session'];
            }
            if ((path === '/home' || path === "/") && !home_html) {
              home_html = response
            } else if (path === '/register' && !register_html) {
              register_html = response
            } else if (path === '/login' && !login_html) {
              login_html = response
            } else if (path === '/shop' && !shop_html) {
              shop_html = response
            } else if (path === '/aboutus' && !about_html) {
              about_html = response
            } else if (path === '/contactus' && !message_html) {
              message_html = response
            } else if (path === '/help' && !help_html) {
              help_html = response
            } else if (path === '/listings' && !listings_html) {
              listings_html = response
            } else if (path === '/account' && !account_html) {
              account_html = response
            } else if (path === '/saved' && !saved_html) {
              saved_html = response
            } else if (path === '/privacy' && !privacy_html) {
              privacy_html = response
            } else if (path === '/legal' && !terms_html) {
              terms_html = response
            } else if (path === '/donate' && !donate_html) {
              donate_html = response;
            }
            if (response.state) {
              if (response.state === 'login-required') {
                linkClicked(null, "{{url_for('userAuth.login', next='/item/new')}}")
                toastr.info("You must sign in before selling!");
              } else if (response.state === 'confirm-required') {
                linkClicked(null, "{{url_for('account')}}")
                toastr.info("You must confirm your email address before selling!");
              } else if (response.state === 'max-listings') {
                linkClicked(null, "{{url_for('listings')}}")
                toastr.error("There is a max of 10 listings at a time! Please wait or delete listings before selling.");
              } else if (response.state === 'no school in session') {
                location.reload()
              }
              highlightNavLink()
            } else {
              $('#block-content').html(response);
            }
          },
          beforeSend: function () {
            $("body").toggleClass("loading");
          },
          complete: function () {
            $("body").toggleClass("loading");
          }
        })
      }
      $(window).scrollTop(0);
    }
    const linkClicked = (ele, url) => {
      if (document.documentElement.clientWidth < 992) {
        navbarCollapse();
      }
      //collapse user menu on click
      const userDropdown = $('.dropdown-toggle')
      if (userDropdown) {
        $('.dropdown-toggle').dropdown('toggle')
      }

      let alerts1 = document.getElementsByClassName('alert');
      if (call) call.abort()
      history.pushState(null, '', url)
      highlightNavLink()

      redirect(url)
    }

    window.addEventListener('popstate', (event) => {
      //Bootstrap modal doesn't close on back button clicked
      if ($('.modal').length > 0) {
        $('.modal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
      }
      highlightNavLink()
      redirect(window.location.pathname + location.search);
    });

    const navbarCollapse = () => {
      if ($('#navbarSupportedContent')[0].classList.contains('show') === true) {
        $('.navbar-collapse').collapse("toggle")
      }
    }
  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script> -->
  <script src="{{ url_for('static', filename='js/jquery.sticky.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>

  <script>
    if (! $.fn.modal) {
      console.log("failover")
      document.write('<script src="{{ url_for('static', filename='js/vendor/bootstrap.js')}}"><//script>');
      document.write('<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">');
    }
  </script>
</body>

</html>