{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login page</h1>
                <nav class="d-flex align-items-center">
                    <a href="{{url_for('home')}}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Login</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container mt-3">
    <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Login
                </legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg", type="email") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{form.remember(class="form-check-input")}}
                    {{form.remember.label(class="form-check-label")}}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>

        <small class="text-muted ml-2">
            <a href="" data-toggle="modal" data-target="#forgotModal">Forgot Password?</a>
            <div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Account Password Reset</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <form id="forgot-form" method="POST" action="">
                                    <label for="recipient-name" class="col-form-label">Email</label>
                                    <input required type="email" class="form-control" id="recipient-name" name="email">
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" form="forgot-form" class="btn btn-primary">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </small>
    </div>
    <div class="border-top pt-3 mb-4">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{url_for('userAuth.register')}}">Sign Up Now</a>
        </small>
    </div>
</div>

<script>
    var $form = $('#forgot-form');

    // form submit
    $form.on('submit', function (e) {
        e.preventDefault();

        var formData = new FormData()

        console.log("SUBMIT!!!!!!!!")

        // append inputs to FormData
        $.each($form.serializeArray(), function (key, field) {
            console.log(field.name, field.value)
            formData.append(field.name, field.value);
        });

        for (var value of formData.values()) {
            console.log("1", value);
        }

        $.ajax({
            url: "{{url_for('userAuth.send_password_reset')}}",
            type: $form.attr('method') || 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            async: true,
            success: function (response) {
                toastr.options = {"positionClass": "toast-top-center", "closeButton": true}
                toastr.success("Email Sent! Please change your password within 24 hours!");
            },
            beforeSend: function () {
                $("body").toggleClass("loading");
                $('#forgotModal').modal('hide')
                $("#loader-text").html ('Sending Password Reset Email...')
            },
            complete: function () {
                $("body").toggleClass("loading");
                $("#loader-text").html ('Loading...')
            }
        })
    })
</script>
{% endblock content %}