{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Contact Us</h1>
                <nav class="d-flex align-items-center">
                    <a href="javascript:linkClicked(document.getElementById('home'), '/home')">Home<span
                            class="lnr lnr-arrow-right"></span></a>
                    <a class="nav-no-href">Contact Us</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div style="padding-left:15px; padding-right: 15px;">
    <div class="container-sm mb-5 contact-us-container {% if current_user.is_authenticated == False %}not-logged-in{% endif %}">
        <div class="message-overlay">
            <div class="message-error-container">
                <div class="message-error">
                    <span>Please <a class="log-in-text"
                            href="javascript:linkClicked(document.getElementById('login'), '{{url_for('userAuth.login', next='/contactus')}}')">log
                            in</a> to contact us</span>
                </div>
            </div>
        </div>

        <div class="message-content-section content-section">
            <form method="POST" id="message-form" action="" enctype="multipart/form-data">
                {{message_form.hidden_tag()}}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        {{message_title}}
                    </legend>
            {% include "message_form.html" %}
        </div>
    </div>
</div>
<script>
    console.log('{{current_user.is_authenticated}}')
</script>
{% endblock content %}