{% block body_content %}

<div class="container">

    <div class="content-section">
        <form method="POST" id="message-form" action="" enctype="multipart/form-data">
            {{message_form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {{message_title}}
                </legend>
                <div class="form-group">
                    {{ message_form.email.label(class="form-control-label") }} {{optional}}
                    {% if message_form.email.errors %}
                    {{ message_form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in message_form.email.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ message_form.email(class="form-control form-control-lg", type="email") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ message_form.message.label(class="form-control-label") }}
                    {% if message_form.message.errors %}
                    {{ message_form.message(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in message_form.message.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ message_form.message(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ message_form.message_submit(class="btn btn-outline-info", onclick="history.replaceState(null, null, ' ');")}}
            </div>
        </form>
    </div>
</div>

<script>
    //  function onItemClick(url) {
    //     history.pushState(null, null, url);
    //     $.ajax({
    //     url: url,
    //     type: "get",
    //     data: { standalone: 'true' },
    //     async: true,
    //     success: function (response) {
    //       $('#block-content').html(response);
    //     },
    //     beforeSend: function () {
    //       $("body").toggleClass("loading");
    //     },
    //     complete: function () {
    //       $("body").toggleClass("loading");
    //     }
    //   })
    // }
    var $form = $('#message-form');

    $form.on('submit', function (e) {
        e.preventDefault();
        console.log("SUBMITTED")

        var formData = new FormData()
        // append inputs to FormData
        $.each($form.serializeArray(), function (key, field) {
            console.log(field.name, field.value)
            formData.append(field.name, field.value);
        });

        for (var value of formData.values()) {
            console.log("1", value);
        }

        $.ajax({
            url: window.location.href,
            type: $form.attr('method') || 'POST',
            enctype: $form.attr('enctype') || 'multipart/form-data',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            async: true,
            success: function (response) {
                $('#block-content').html(response.html);
                toastr.options = {"positionClass": "toast-top-left", "closeButton": true}
                toastr.success("Message Sent! The seller will contact you soon!");
            },
            beforeSend: function () {
                $("body").toggleClass("loading");
                $('#messageModal').modal('hide')
                $("#loader-text").html ('Sending Message...')
            },
            complete: function () {
                $("body").toggleClass("loading");
                $("#loader-text").html ('Loading...')
            }
        })
    })
</script>
{% endblock %}