{% block body_content %}
{% if need_customization is defined %}
<form method="POST" id="message-form" action="" enctype="multipart/form-data">
    {{message_form.hidden_tag()}}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">
            {{message_title}}
        </legend>
{% endif %}
        <div class="form-group">
            {{ message_form.email.label(class="form-control-label") }} {{optional}}
            {% if message_form.email.errors %}
            {{ message_form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in message_form.email.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {% if optional == '(optional)' %}
            {{ message_form.email(class="form-control form-control-lg", type="email") }}
            {% else %}
            {{ message_form.email(class="form-control form-control-lg", type="email", required='required',
            value=current_user.email, readonly="readonly") }}
            {% endif %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ message_form.message.label(class="form-control-label") }}
            {% if message_form.message.errors %}
            {{ message_form.message(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in message_form.message.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ message_form.message(class="form-control form-control-lg message-text-area") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group send-button" id="send-button">
        {{ message_form.message_submit(class="btn btn-outline-info", onclick="history.replaceState(null, null, ' ');")}}
    </div>
</form>

<script>
    var $form = $('#message-form');

    $form.on('submit', function (e) {
        e.preventDefault();

        var formData = new FormData()
        // append inputs to FormData
        $.each($form.serializeArray(), function (key, field) {
            formData.append(field.name, field.value);
        });

        $.ajax({
            url: window.location.href,
            type: $form.attr('method') || 'POST',
            enctype: $form.attr('enctype') || 'multipart/form-data',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            async: true,
            success: function (response) {
                // $('#block-content').html(response.html);
                toastr.options = { "positionClass": "toast-top-center", "closeButton": true }
                if (response.origin === 'single') {
                    toastr.success("Message Sent! The seller will contact you soon!");
                }
                else if (response.origin === 'contactus') {
                    toastr.success("Message Sent! Thank you for contacting us!");
                    document.getElementById('send-button').innerHTML = "Your message is sent. Thank you for contacting us!"
                }
                else if (response.origin === 'wait') {
                    toastr.error("You reached the limit of messages you can send within an hour! Please wait an hour before messaging again.");
                }
            },
            beforeSend: function () {
                $("body").toggleClass("loading");
                $('#messageModal').modal('hide')
                $("#loader-text").html('Sending Message...')
            },
            complete: function () {
                $("body").toggleClass("loading");
                $("#loader-text").html('Loading...')
            }
        })
    })
</script>
{% endblock %}