{% block body_content %}
<div class="container {{'mt-3' if legend == 'New'}}">
    <div class="content-section">
        <form method="POST" id="post-form" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {{legend}} Post
                </legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
                    {{ form.price(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.price(class="form-control form-control-lg", pattern="^\d{0,5}(\.\d{0,2})?$",
                    oninvalid="setCustomValidity('Must be a decimal number between 0 and 99999')", oninput="setCustomValidity('')") }}
                    {% endif %}
                </div>
                <div>
                <div class="form-group department-form">
                    {{ form.item_department.label(class="form-control-label") }}
                    {% if form.item_department.errors %}
                    {{ form.item_department(id="department", class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.item_department.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        {{ form.item_department(type="search", placeholder="Select Department",
                        list="department_list", id="department", class="form-control form-control-sm") }}
                        <datalist id='department_list'>
                            {% for department in departments %}
                            <option data-value='{{ department.id }}' value='{{department.department_name}}'></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group class-form">
                    {{ form.item_class.label(class="form-control-label") }}
                    {% if form.item_class.errors %}
                    {{ form.item_class(id="class", class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.item_class.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        {{ form.item_class(placeholder="Please select department", 
                        list="class_list", id="class", class="form-control form-control-sm") }}
                        <datalist id='class_list'>
                        </datalist>
                    </div>
                    {% endif %}
                </div>
                </div>
                <div class="form-group">
                    {{ form.files.label(class="form-control-label") }}
                    {% if form.files.errors %}
                    {{ form.files(class="form-control-file is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.files.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        {{ form.files(id="files", type="file") }}
                    </div>
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info", onclick="history.replaceState(null, null, ' ');")}}
            </div>
        </form>
    </div>
</div>

<script>
    let department_input = document.getElementById('department');
    let class_input = document.getElementById('class');
    let class_select = document.getElementById('class_list');
    let department;
    let course;

    class_select.required = true;
    department_input.required = true;

    department_input.selectedIndex = -1;
    department_input.onchange = function () {
        // console.log(department.dataValue)
        let selectedDepartment = $('#department_list option').filter((a, b) => {
            console.log(b.value)
            return b.value === department_input.value
        });

        department = selectedDepartment[0].dataset.value

        // department_input.value = department

        console.log(department_input.value)
        fetch('/class/' + department).then(function (response) {
            response.json().then(function (data) {
                class_input.value = ''
                console.log(data)
                let optionHTML = '';
                // optionHTML += '<option data-display="Select Class">Select</option>'
                for (let item_class of data.classes) {
                    optionHTML += `<option value="${item_class.class_name}"
                        data-value="${item_class.id}" />`;
                }
                class_select.innerHTML = optionHTML;
                class_input.placeholder = 'Select Course'
            })
        });
    }

    class_input.onchange = function () {
        // console.log(department.dataValue)
        let selectedClass = $('#class_list option').filter((a, b) => {
            console.log(b.value)
            return b.value === class_input.value
        });

        console.log(selectedClass)
        course = selectedClass[0].dataset.value
        console.log(course);
    }

    $(document).ready(function () {

        // enable fileuploader plugin
        $('input[name="files"]').fileuploader({
            extensions: null,
            changeInput: ' ',
            theme: 'thumbnails',
            enableApi: true,
            addMore: true,
            thumbnails: {
                box: '<div class="fileuploader-items">' +
                    '<ul class="fileuploader-items-list">' +
                    '<li class="fileuploader-thumbnails-input"><div class="fileuploader-thumbnails-input-inner"><i>+</i></div></li>' +
                    '</ul>' +
                    '</div>',
                item: '<li class="fileuploader-item">' +
                    '<div class="fileuploader-item-inner">' +
                    '<div class="type-holder">${extension}</div>' +
                    '<div class="actions-holder">' +
                    '<button type="button" class="fileuploader-action fileuploader-action-remove" title="${captions.remove}"><i class="fileuploader-icon-remove"></i></button>' +
                    '</div>' +
                    '<div class="thumbnail-holder">' +
                    '${image}' +
                    '<span class="fileuploader-action-popup"></span>' +
                    '</div>' +
                    '<div class="content-holder"><h5>${name}</h5><span>${size2}</span></div>' +
                    '<div class="progress-holder">${progressBar}</div>' +
                    '</div>' +
                    '</li>',
                item2: '<li class="fileuploader-item">' +
                    '<div class="fileuploader-item-inner">' +
                    '<div class="type-holder">${extension}</div>' +
                    '<div class="actions-holder">' +
                    '<a href="${file}" class="fileuploader-action fileuploader-action-download" title="${captions.download}" download><i class="fileuploader-icon-download"></i></a>' +
                    '<button type="button" class="fileuploader-action fileuploader-action-remove" title="${captions.remove}"><i class="fileuploader-icon-remove"></i></button>' +
                    '</div>' +
                    '<div class="thumbnail-holder">' +
                    '${image}' +
                    '<span class="fileuploader-action-popup"></span>' +
                    '</div>' +
                    '<div class="content-holder"><h5 title="${name}">${name}</h5><span>${size2}</span></div>' +
                    '<div class="progress-holder">${progressBar}</div>' +
                    '</div>' +
                    '</li>',
                startImageRenderer: true,
                canvasImage: false,
                _selectors: {
                    list: '.fileuploader-items-list',
                    item: '.fileuploader-item',
                    start: '.fileuploader-action-start',
                    retry: '.fileuploader-action-retry',
                    remove: '.fileuploader-action-remove'
                },
                onItemShow: function (item, listEl, parentEl, newInputEl, inputEl) {
                    var plusInput = listEl.find('.fileuploader-thumbnails-input'),
                        api = $.fileuploader.getInstance(inputEl.get(0));

                    plusInput.insertAfter(item.html)[api.getOptions().limit && api.getChoosedFiles().length >= api.getOptions().limit ? 'hide' : 'show']();

                    if (item.format == 'image') {
                        item.html.find('.fileuploader-item-icon').hide();
                    }
                },
                onItemRemove: function (html, listEl, parentEl, newInputEl, inputEl) {
                    var plusInput = listEl.find('.fileuploader-thumbnails-input'),
                        api = $.fileuploader.getInstance(inputEl.get(0));

                    html.children().animate({ 'opacity': 0 }, 200, function () {
                        html.remove();

                        if (api.getOptions().limit && api.getChoosedFiles().length - 1 < api.getOptions().limit)
                            plusInput.show();
                    });
                }
            },
            dragDrop: {
                container: '.fileuploader-thumbnails-input'
            },
            afterRender: function (listEl, parentEl, newInputEl, inputEl) {
                var plusInput = listEl.find('.fileuploader-thumbnails-input'),
                    api = $.fileuploader.getInstance(inputEl.get(0));

                plusInput.on('click', function () {
                    api.open();
                });

                api.getOptions().dragDrop.container = plusInput;
            },


        });


        var $form = $('#post-form');

        // form submit
        $form.on('submit', function (e) {
            e.preventDefault();

            var formData = new FormData(),
                _fileuploaderFields = [];

            // append inputs to FormData
            $.each($form.serializeArray(), function (key, field) {
                if (field.name === 'item_department') {
                    field.value = department
                } else if (field.name === 'item_class') {
                    field.value = course
                }

                console.log(field.name, field.value)

                formData.append(field.name, field.value);
            });

            input = document.querySelector('input[name="files[]"')

            // append file inputs to FormData
            var $input = $(input),
                name = $input.attr('name'),
                files = $input.prop('files'),
                api = $.fileuploader.getInstance($input);


            // add fileuploader files to the formdata
            if (api) {
                if ($.inArray(name, _fileuploaderFields) > -1)
                    return;
                files = api.getChoosedFiles();
                _fileuploaderFields.push($input);
            }

            for (var i = 0; i < files.length; i++) {
                formData.append(name, (files[i].file ? files[i].file : files[i]), (files[i].name ? files[i].name : false));
            }

            // // Display the values
            // for (var value of formData.values()) {
            //     console.log(value);
            // }

            console.log('{{legend}}')
            post_url = '{{legend}}' === "New" ? "{{url_for('new_item')}}" : '{{item}}' ? "{{url_for('shop_api.item', item_id=item_id)}}" : null
            console.log(post_url)
            $.ajax({
                url: post_url || '#',
                data: formData,
                type: $form.attr('method') || 'POST',
                enctype: $form.attr('enctype') || 'multipart/form-data',
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log("success")
                    window.location.href = data['url']
                }
            });

            $('form').submit(function () {
                $(this).find(':submit').attr('disabled', 'disabled');
            });
        });
    });
</script>

{% endblock %}