{% from "form_required_macro.html" import form_field %}
{% block body_content %}
<div class="container {{'mt-3' if legend == 'New'}}">
    <div class="content-section">
        <form method="POST" id="post-form" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {{legend}} Post
                </legend>
                <div class="form-group">
                    {{ form_field(form.name) }}
                    {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-lg", required='required', maxlength="100") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.isbn.label(class="form-control-label") }}
                    {% if form.isbn.errors %}
                    {{ form.isbn(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.isbn.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.isbn(class="form-control form-control-lg", title="ISBN number must be 13 digits", pattern="^\d{13}$") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.author.label(class="form-control-label") }}
                    {% if form.author.errors %}
                    {{ form.author(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.author.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.author(class="form-control form-control-lg", maxlength="50") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control form-control-lg", maxlength="400") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_field(form.price) }}
                    {% if form.price.errors %}
                    {{ form.price(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.price(maxlength="9", class="form-control form-control-lg", pattern="^\d{0,5}(\.\d{0,2})?$",
                    oninvalid="setCustomValidity('Must be a decimal number between 0 and 99999')", oninput="setCustomValidity('')") }}
                    {% endif %}
                </div>
                <div class="form-group department-form">
                    {{ form_field(form.item_department) }}
                    {% if form.item_department.errors %}
                    {{ form.item_department(id="department", class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.item_department.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        <select name="department_id" id='department_list' placeholder="Select Department">
                            <option value="">Select Department</option>
                            {% for department in departments %}
                            <option value='{{ department.id }}'>{{department.department_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group class-form">
                    {{ form_field(form.item_class) }}
                    {% if form.item_class.errors %}
                    {{ form.item_class(id="class", class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.item_class.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        <select name="class_id" id='class_list' placeholder="Select Course">
                        </select>
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.files.label(class="form-control-label") }}
                    {% if form.files.errors %}
                    {{ form.files(class="form-control-file is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.files.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        {{ form.files(id="files", type="file") }}
                    </div>
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info", onclick="history.replaceState(null, null, ' ');")}}
            </div>
        </form>
    </div>
</div>

<script>
    let class_select = document.getElementById('class_list');
    let department_select = document.getElementById('department_list')
    let department;

    // class_select.value = {{ item_class }}
    // department_select.value = {{ item_department }}
    class_select.setAttribute("disabled", "disabled");

    class_select.required = true;
    department_select.required = true;

    console.log(department_select)

    department_select.onchange = function () {
        var $select = $(document.getElementById('class_list'))
        var selectize = $select[0].selectize;
        department = department_select.value
        selectize.enable()
        selectize.clear();
        if (department) {
            fetch('/class/' + department).then(function (response) {
                response.json().then(function (data) {
                    let optionHTML = '';
                    selectize.clearOptions();
                    // optionHTML += '<option data-display="Select Class">Select</option>'
                    for (let item_class of data.classes) {
                        // optionHTML += `<option value="${item_class.id}">${item_class.class_name}</option>`;
                        selectize.addOption({ value: item_class.id, text: item_class.class_name });
                        selectize.refreshOptions()
                    }
                    class_select.innerHTML = optionHTML;
                    // class_select.removeAttribute("disabled");
                }).then(function () {
                    {% if item_class is defined %}
                    if ('{{ item_class.id }}') {
                        console.log("!!!")
                        selectize.setValue('{{item_class.id}}')
                        selectize.refreshItems()
                    }
                    {% endif %}
                })
            });
        } else {
            selectize.disable()
        }

        let department_input = document.getElementById('department_list-selectized');

        department_input.setCustomValidity('')

        console.log(!department_input.checkValidity())
        if (!department_input.checkValidity()) {
            department_input.setCustomValidity("Please Select Department")
        } else {
            department_input.setCustomValidity('')
        }
    }

    class_select.onchange = function () {
        let class_input = document.getElementById('class_list-selectized');

        class_input.setCustomValidity('')

        console.log(!class_input.checkValidity())
        if (!class_input.checkValidity()) {
            class_input.setCustomValidity("Please Select Course")
        } else {
            class_input.setCustomValidity('')
        }
    }

    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });

        let department_input = document.getElementById('department_list-selectized');
        let class_input = document.getElementById('class_list-selectized');
        if (department_input) { department_input.setCustomValidity("Please Select Department") }
        if (class_input) { class_input.setCustomValidity("Please Select Course") }
        department_input.value = '{{department|safe}}'
        {% if item_class is defined %}
        class_input.value = '{{item_class.class_name|safe}}'
        {% endif %}

        // enable fileuploader plugin
        $('input[name="files"]').fileuploader({
            extensions: null,
            changeInput: ' ',
            theme: 'thumbnails',
            enableApi: true,
            addMore: true,
            limit: 8,
            extensions: ['jpg', 'png'],
            {% if item and(images | length > 0) %}
            files: [
        {% for image in images %}
    {
        "name": "{{image.image_name}}",
            "file": "https://book-advertisement-site.s3-us-west-2.amazonaws.com/{{image.image_file}}",
                "type": "image/",
                    "size": '{{image.image_size}}',
                        "data": {
            "thumbnail": "https://book-advertisement-site.s3-us-west-2.amazonaws.com/{{image.image_file}}",
        }
    },
    {% endfor %}
        ],
    {% endif %}
    thumbnails: {
        box: '<div class="fileuploader-items">' +
            '<ul class="fileuploader-items-list">' +
            '<li class="fileuploader-thumbnails-input"><div class="fileuploader-thumbnails-input-inner"><i>+</i></div></li>' +
            '</ul>' +
            '</div>',
            item: '<li class="fileuploader-item">' +
                '<div class="fileuploader-item-inner">' +
                '<div class="type-holder">${extension}</div>' +
                '<div class="actions-holder">' +
                '<button type="button" class="fileuploader-action fileuploader-action-remove" title="${captions.remove}"><i class="fileuploader-icon-remove"></i></button>' +
                '</div>' +
                '<div class="thumbnail-holder">' +
                '${image}' +
                '<span class="fileuploader-action-popup"></span>' +
                '</div>' +
                '<div class="content-holder"><h5>${name}</h5><span>${size2}</span></div>' +
                '<div class="progress-holder">${progressBar}</div>' +
                '</div>' +
                '</li>',
                item2: '<li class="fileuploader-item">' +
                    '<div class="fileuploader-item-inner">' +
                    '<div class="type-holder">${extension}</div>' +
                    '<div class="actions-holder">' +
                    '<a href="${file}" class="fileuploader-action fileuploader-action-download" title="${captions.download}" download><i class="fileuploader-icon-download"></i></a>' +
                    '<button type="button" class="fileuploader-action fileuploader-action-remove" title="${captions.remove}"><i class="fileuploader-icon-remove"></i></button>' +
                    '</div>' +
                    '<div class="thumbnail-holder">' +
                    '${image}' +
                    '<span class="fileuploader-action-popup"></span>' +
                    '</div>' +
                    '<div class="content-holder"><h5 title="${name}">${name}</h5><span>${size2}</span></div>' +
                    '<div class="progress-holder">${progressBar}</div>' +
                    '</div>' +
                    '</li>',
                    startImageRenderer: true,
                        canvasImage: false,
                            _selectors: {
            list: '.fileuploader-items-list',
                item: '.fileuploader-item',
                    start: '.fileuploader-action-start',
                        retry: '.fileuploader-action-retry',
                            remove: '.fileuploader-action-remove'
        },
        onItemShow: function (item, listEl, parentEl, newInputEl, inputEl) {
            var plusInput = listEl.find('.fileuploader-thumbnails-input'),
                api = $.fileuploader.getInstance(inputEl.get(0));

            plusInput.insertAfter(item.html)[api.getOptions().limit && api.getChoosedFiles().length >= api.getOptions().limit ? 'hide' : 'show']();

            if (item.format == 'image') {
                item.html.find('.fileuploader-item-icon').hide();
            }
        },
        onItemRemove: function (html, listEl, parentEl, newInputEl, inputEl) {
            var plusInput = listEl.find('.fileuploader-thumbnails-input'),
                api = $.fileuploader.getInstance(inputEl.get(0));
                console.log(inputEl)
            html.children().animate({ 'opacity': 0 }, 200, function () {
                html.remove();

                if (api.getOptions().limit && api.getChoosedFiles().length - 1 < api.getOptions().limit)
                    plusInput.show();
            });

            deleted = true;
        }
    },
    dragDrop: {
        container: '.fileuploader-thumbnails-input'
    },
    afterRender: function (listEl, parentEl, newInputEl, inputEl) {
        var plusInput = listEl.find('.fileuploader-thumbnails-input'),
            api = $.fileuploader.getInstance(inputEl.get(0));

        plusInput.on('click', function () {
            api.open();
        });

        api.getOptions().dragDrop.container = plusInput;
    },
        });


    var $form = $('#post-form');

    // form submit
    $form.on('submit', function (e) {
        e.preventDefault();

        var formData = new FormData(),
            _fileuploaderFields = [];

        // append inputs to FormData
        $.each($form.serializeArray(), function (key, field) {
            console.log(field.name, field.value)
            formData.append(field.name, field.value);
        });

        input = document.querySelector('input[name="files[]"')

        // append file inputs to FormData
        var $input = $(input),
            name = $input.attr('name'),
            files = $input.prop('files'),
            api = $.fileuploader.getInstance($input);

        // add fileuploader files to the formdata
        if (api) {
            if ($.inArray(name, _fileuploaderFields) > -1)
                return;
            files = api.getChoosedFiles();
            _fileuploaderFields.push($input);
        }

        console.log(files);
        for (var i = 0; i < files.length; i++) {
            formData.append(name, (files[i].file ? files[i].file : files[i]), (files[i].name ? files[i].name : false));
        }

        console.log("???", formData.get("fileuploader-list-files").split("\""))
        let fileArray = formData.get("fileuploader-list-files").split("\"");

        var blob = null;

        let remainingFiles = []

        for (var i = 3; i < fileArray.length; i += 4) {
            // console.log(fileArray[i])
            // console.log(fileArray[i]);
            // let file = new File([fileArray[i]], "test." + type, {type: "image/" + type})
            if (fileArray[i].startsWith("https://")) {
                let type = fileArray[i].split('.').pop()
                let image_name = fileArray[i].split('/').pop()
                console.log(image_name)
                console.log(type);
                remainingFiles.push(image_name);
            }
        }

        formData.append('remaining_files', remainingFiles);
        // Display the values
        for (var value of formData.values()) {
            console.log("1", value);
        }

        post_url = '{{legend}}' === "New" ? "{{url_for('new_item')}}" : '{{item}}' ? "{{url_for('shop_api.item', item_id=item_id)}}" : null
        $.ajax({
            url: post_url || '#',
            data: formData,
            type: $form.attr('method') || 'POST',
            enctype: $form.attr('enctype') || 'multipart/form-data',
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log("success")
                window.location.href = data['url']
            }
        });


        $('form').submit(function () {
            $(this).find(':submit').attr('disabled', 'disabled');
        });
    });
    });
</script>

{% endblock %}