{% block body_content %}
<div class="container {{'mt-3' if legend == 'New'}}">
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {{legend}} Post
                </legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.price.label(class="form-control-label") }}
                    {% if form.price.errors %}
                    {{ form.price(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.price(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.item_department.label(class="form-control-label") }}
                    {% if form.item_department.errors %}
                    {{ form.item_department(id="department", class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.item_department.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        {{ form.item_department(id="department", class="form-control form-control-sm") }}
                    </div>
                    {% endif %}
                </div>
                <br style="clear: both" />
                <div class="form-group">
                    {{ form.item_class.label(class="form-control-label") }}
                    {% if form.item_class.errors %}
                    {{ form.item_class(id="class", class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.item_class.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        {{ form.item_class(id="class", class="form-control form-control-sm") }}
                    </div>
                    {% endif %}
                </div>
                <br style="clear: both" />
            
                
                <div class="form-group">
                    {{ form.files.label(class="form-control-label") }}
                    {% if form.files.errors %}
                    {{ form.files(class="form-control-file is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.files.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>
                        {{ form.files(type="file") }}
                    </div>
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info", onclick="history.replaceState(null, null, ' ');")}}
            </div>
        </form>
    </div>
</div>

<script>
    let department_select = document.getElementById('department');
    let class_select = document.getElementById('class');

    class_select.required = true;
    department_select.required = true;

    department_select.selectedIndex = -1;
    department_select.onchange = function () {
        department = department_select.value;

        fetch('/class/' + department).then(function (response) {
            response.json().then(function (data) {
                let optionHTML = '';
                // optionHTML += '<option data-display="Select Class">Select</option>'
                for (let item_class of data.classes) {
                    optionHTML += '<option value="' + item_class.id + '">'
                        + item_class.class_name + '</option>';
                }
                class_select.innerHTML = optionHTML;
                $('select').niceSelect('update');
            })
        });
    }

    function add () {
        fileInput = document.querySelector("input[name='files[]']");
        console.log(fileInput)
    }

    function removeFile () {
        fileInput = document.querySelector("input[name='files[]']");
        console.log(fileInput)
        console.log(fileInput.value)

        files1 = $('#files').get(0).files
        console.log(files1)
        files1.foreach((e) => {
            console.log(e);
        })
    }

    $(document).ready(function() {
	
	// enable fileuploader plugin
	$('input[name="files"]').fileuploader({
        extensions: null,
		changeInput: ' ',
		theme: 'thumbnails',
        enableApi: true,
		addMore: true,
		thumbnails: {
			box: '<div class="fileuploader-items">' +
                      '<ul class="fileuploader-items-list">' +
					      '<li class="fileuploader-thumbnails-input"><div class="fileuploader-thumbnails-input-inner"><i>+</i></div></li>' +
                      '</ul>' +
                  '</div>',
			item: '<li class="fileuploader-item">' +
				       '<div class="fileuploader-item-inner">' +
                           '<div class="type-holder">${extension}</div>' +
                           '<div class="actions-holder">' +
						   	   '<button type="button" class="fileuploader-action fileuploader-action-remove" title="${captions.remove}"><i class="fileuploader-icon-remove"></i></button>' +
                           '</div>' +
                           '<div class="thumbnail-holder">' +
                               '${image}' +
                               '<span class="fileuploader-action-popup"></span>' +
                           '</div>' +
                           '<div class="content-holder"><h5>${name}</h5><span>${size2}</span></div>' +
                       	   '<div class="progress-holder">${progressBar}</div>' +
                       '</div>' +
                  '</li>',
			item2: '<li class="fileuploader-item">' +
				       '<div class="fileuploader-item-inner">' +
                           '<div class="type-holder">${extension}</div>' +
                           '<div class="actions-holder">' +
						   	   '<a href="${file}" class="fileuploader-action fileuploader-action-download" title="${captions.download}" download><i class="fileuploader-icon-download"></i></a>' +
						   	   '<button type="button" class="fileuploader-action fileuploader-action-remove" title="${captions.remove}"><i class="fileuploader-icon-remove"></i></button>' +
                           '</div>' +
                           '<div class="thumbnail-holder">' +
                               '${image}' +
                               '<span class="fileuploader-action-popup"></span>' +
                           '</div>' +
                           '<div class="content-holder"><h5 title="${name}">${name}</h5><span>${size2}</span></div>' +
                       	   '<div class="progress-holder">${progressBar}</div>' +
                       '</div>' +
                   '</li>',
			startImageRenderer: true,
            canvasImage: false,
			_selectors: {
				list: '.fileuploader-items-list',
				item: '.fileuploader-item',
				start: '.fileuploader-action-start',
				retry: '.fileuploader-action-retry',
				remove: '.fileuploader-action-remove'
			},
			onItemShow: function(item, listEl, parentEl, newInputEl, inputEl) {
				var plusInput = listEl.find('.fileuploader-thumbnails-input'),
                    api = $.fileuploader.getInstance(inputEl.get(0));
				
                plusInput.insertAfter(item.html)[api.getOptions().limit && api.getChoosedFiles().length >= api.getOptions().limit ? 'hide' : 'show']();
				
				if(item.format == 'image') {
					item.html.find('.fileuploader-item-icon').hide();
                }
                
                removeFile()
			},
            onItemRemove: function(html, listEl, parentEl, newInputEl, inputEl) {
                var plusInput = listEl.find('.fileuploader-thumbnails-input'),
				    api = $.fileuploader.getInstance(inputEl.get(0));
            
                html.children().animate({'opacity': 0}, 200, function() {
                    html.remove();
                    
                    if (api.getOptions().limit && api.getChoosedFiles().length - 1 < api.getOptions().limit)
                        plusInput.show();
                });
                removeFile()
            }
		},
        dragDrop: {
			container: '.fileuploader-thumbnails-input'
		},
		afterRender: function(listEl, parentEl, newInputEl, inputEl) {
			var plusInput = listEl.find('.fileuploader-thumbnails-input'),
				api = $.fileuploader.getInstance(inputEl.get(0));
		
			plusInput.on('click', function() {
				api.open();
			});
            
            api.getOptions().dragDrop.container = plusInput;
		},
		
		// while using upload option, please set
		// startImageRenderer: false
		// for a better effect
		// upload: {
		// 	url: './php/upload_file.php',
        //     data: null,
        //     type: 'POST',
        //     enctype: 'multipart/form-data',
        //     start: true,
        //     synchron: true,
        //     beforeSend: null,
        //     startImageRenderer: false,
        //     onSuccess: function(result, item) {
		// 		var data = {};
				
		// 		if (result && result.files)
        //             data = result;
        //         else
		// 			data.hasWarnings = true;
                
		// 		// if success
        //         if (data.isSuccess && data.files.length) {
        //             item.name = data.files[0].name;
		// 			item.html.find('.content-holder > h5').text(item.name).attr('title', item.name);
        //         }
				
		// 		// if warnings
		// 		if (data.hasWarnings) {
		// 			for (var warning in data.warnings) {
		// 				alert(data.warnings[warning]);
		// 			}
					
		// 			item.html.removeClass('upload-successful').addClass('upload-failed');
		// 			return this.onError ? this.onError(item) : null;
		// 		}
				
        //         item.html.find('.fileuploader-action-remove').addClass('fileuploader-action-success');
                
		// 		setTimeout(function() {
		// 			item.html.find('.progress-holder').hide();
		// 			item.renderThumbnail();
                    
        //             item.html.find('.fileuploader-action-popup, .fileuploader-item-image').show();
		// 		}, 400);
        //     },
        //     onError: function(item) {
		// 		item.html.find('.progress-holder, .fileuploader-action-popup, .fileuploader-item-image').hide();
        //     },
        //     onProgress: function(data, item) {
        //         var progressBar = item.html.find('.progress-holder');
				
        //         if(progressBar.length > 0) {
        //             progressBar.show();
        //             progressBar.find('.fileuploader-progressbar .bar').width(data.percentage + "%");
        //         }
                
        //         item.html.find('.fileuploader-action-popup, .fileuploader-item-image').hide();
        //     }
        // },
		// onRemove: function(item) {
		// 	$.post('php/upload_remove.php', {
		// 		file: item.name
		// 	});
		// }
    });
});
</script>

{% endblock %}