{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1 id="nav-header">All Categories</h1>
                <nav class="d-flex align-items-center" id="banner-navigation">
                    <a href="javascript:linkClicked(document.getElementById('home'), '/home')">Home</a><span class="lnr lnr-arrow-right banner-arrow"></span>
                    <a href="javascript:getAll()">Shop</span>
                    </a>
                    <div id="nav-department"></div>
                    <div id="nav-course"></div>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container">
    <div class="row">
        {% include "side_bar.html" %}
        <div class="col-xl-9 col-lg-8 col-md-7" id="posts-section">
            {% include "top_bar.html" %}
            <div id="reloading-content">
            </div>
        </div>
    </div>
</div>
</div>

<script>
        initializeShopPage();
</script>
{% endblock content %}