{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1 id="nav-header">All Categories</h1>
                <nav class="d-flex align-items-center" id="banner-navigation">
                    <a onclick="linkClicked(null, '/home'); return false;" href="/home">Home</a><span
                        class="lnr lnr-arrow-right banner-arrow"></span>
                    <a onclick="getAll(); return false;" href="{{url_for('shop_api.shop')}}">Shop</span>
                    </a>
                    <div id="nav-department"></div>
                    <div id="nav-course"></div>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container">
    <div class="row">
        {% include "side_bar.html" %}
        <div class="col-xl-9 col-lg-8 col-md-7" id="posts-section">
            {% include "top_bar.html" %}
            <div id="reloading-content">
            </div>
        </div>
    </div>
</div>
</div>

<!-- Start related-product Area -->
<!-- <section class="related-product-area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>The best deals</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                <div class="single-related-product d-flex">
                    <a href="#"><img src="img/r1.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                            <h6>$189.00</h6>
                            <h6 class="l-through">$210.00</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                <div class="single-related-product d-flex">
                    <a href="#"><img src="img/r2.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                            <h6>$189.00</h6>
                            <h6 class="l-through">$210.00</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                <div class="single-related-product d-flex">
                    <a href="#"><img src="img/r3.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Black lace Heels</a>
                        <div class="price">
                            <h6>$189.00</h6>
                            <h6 class="l-through">$210.00</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<script>
    $(document).ready(function () {
        initializeShopPage();
    });
    highlightNavLink();
    var school = localStorage.getItem('school');
    document.getElementById('nav-header').innerHTML = getSchoolName(school)

</script>
{% endblock content %}