{% extends "layout.html" %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>{{department.department_name}}</h1>
                <nav class="d-flex align-items-center">
                    <a href="{{url_for('home')}}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="{{url_for('shop')}}">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">{{department.department_name}}</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container">
    <div class="row">
        {% include "side_bar.html" %}
        <div class="col-xl-9 col-lg-8 col-md-7">
            {% if posts.total == 0 %}
            <div class="container no-results mt-5">
                <h1 class="pt-3 pb-3">No items found in {{department.department_name}}</h1>
            </div>
            {% else %}
            <!-- Start Filter Bar -->
            {% include "filter.html" %}
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            {% include "item_list.html" %}
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            {% include "filter.html" %}
            <!-- End Filter Bar -->
            {% endif %}
        </div>
    </div>
</div>
</div>

<!-- Start related-product Area -->
<section class="related-product-area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="img/r1.jpg" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function addToBag(item_id, user_id) {
        var url = "{{url_for('add_to_bag', item='tempItem', user='tempUser')}}"
            .replace('tempItem', item_id).replace('tempUser', user_id).replace('&amp;', '&')
        console.log(url);

        $.post(url, null, (data, status) => {
            console.log(data)
        })
    }
    
    function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
    }

    $('document').ready(function () {
        var persistedQueryParam = getParameterByName('per_page');

        if (persistedQueryParam && persistedQueryParam.length > 0) {
            $('a.persist-link').each(function () {
                var elem = $(this);
                var href = elem.attr('href');
                elem.attr('href', href + (href.indexOf('?') != -1 ? '&' : '?') + 'per_page=' + persistedQueryParam);
            });
        }

        var persistedQueryParam = getParameterByName('order');

        if (persistedQueryParam && persistedQueryParam.length > 0) {
            $('a.persist-link').each(function () {
                var elem = $(this);
                var href = elem.attr('href');
                elem.attr('href', href + (href.indexOf('?') != -1 ? '&' : '?') + 'order=' + persistedQueryParam);
            });
        }
    });

    document.addEventListener('DOMContentLoaded', function (event) {
        var options = document.getElementsByClassName('option');
        var a = document.createElement("a");
        //set date descending sort for front end
        a.textContent = "Newest to Oldest";
        var url = "{{url_for('items_for_department', department_id=department.id ,order = 'desc', per_page = request.args.get('per_page'))}}"
            .replace('&amp;', '&')
        options[0].innerHTML = "";
        a.setAttribute('href', url);
        a.setAttribute('style', 'color:rgb(119, 119, 119)')
        a.setAttribute('class', 'persist-link li-link')
        options[0].appendChild(a);

        //set date ascending sort for front end
        var b = document.createElement("a");
        b.textContent = options[1].innerHTML;
        options[1].innerHTML = "";
        var url = "{{url_for('items_for_department', department_id=department.id, order = 'asc', per_page = request.args.get('per_page'))}}"
            .replace('&amp;', '&')
        b.setAttribute('href', url);
        b.setAttribute('style', 'color:rgb(119, 119, 119)')
        b.setAttribute('class', 'persist-link li-link')
        options[1].appendChild(b);

        //set date ascending sort for front end
        var b = document.createElement("a");
        b.textContent = options[2].innerHTML;
        options[2].innerHTML = "";
        var url = "{{url_for('shop', order='asc', per_page=request.args.get('per_page'))}}".replace('&amp;', '&')
        b.setAttribute('href', url);
        b.setAttribute('style', 'color:rgb(119, 119, 119)')
        b.setAttribute('class', 'persist-link li-link')
        options[2].appendChild(b);

        var index = 3;
        for (var i = 3; i < options.length; i++) {
            if ((index - 2) % 4 == 0) {
                index = 3;
            }
            var b = document.createElement("a");
            b.textContent = `Show ${(index - 2) * 3}`;
            options[i].innerHTML = "";
            var url = "{{url_for('items_for_department', department_id=department.id, order=request.args.get('order'))}}".replace('&amp;', '&')
            url += `?&per_page=${(index - 2) * 3}`;
            console.log(url);
            url = url.replace(/(\?[^\?]*)\?/g, '$1');
            console.log(url);
            b.setAttribute('href', url);
            b.setAttribute('style', 'color:rgb(119, 119, 119)')
            b.setAttribute('class', 'persist-link li-link')
            // b.onclick(() => {
            //     window.location.href = 'newPage.html';
            // });
            options[i].appendChild(b);
            index++;
        }

        $('li.option').addClass('options');

    });
</script>
<!-- End related-product Area -->
{% endblock content %}