{% block body_content %}
<div class="col-xl-3 col-lg-4 col-md-5">
    <div class="sidebar-categories">
        <a id="browse-categories" aria-expanded="false" data-toggle="collapse" href="#main-categories" aria-controls="">
            <div class="head">Browse Categories<i class="ml-2 fas fa-angle-down"></i></div>
        </a>
        <ul class="main-categories browse-collapse collapse show" id="main-categories" data-toggle="collapse"
            aria-expanded="false" aria-controls="">
            <li class="main-nav-list">
                <a onclick="getAll(); return false;" href="{{url_for('shop_api.shop')}}">
                    All<span class="number">{% if items|length != 0 %}{{ items|length }}{% endif %}</span></a>
            </li>
            <!-- Other -->
            <li class="main-nav-list">
                <a aria-expanded="false" data-toggle="collapse" href="#navOther" aria-controls="{{department_id}}"><span
                        class="lnr lnr-arrow-right"></span>
                    Other<span class="number" id="navOtherNumber">
                        {% if totalCategory != 0 %}
                        {{- totalCategory -}}
                        {% endif %}
                    </span>
                </a>
                <ul class="collapse" id="navOther" data-toggle="collapse" aria-expanded="false" aria-controls="Other">
                    <li class="main-nav-list child">
                        <a onclick="filterByCategory('all', 'All Non-Textbooks'); return false;"
                            href="{{url_for('shop_api.shop', nonbook='all')}}">All Others
                            <span class="number" id="other_total">
                                {% if totalCategory != 0 %}
                                {{- totalCategory -}}
                                {% endif %}
                            </span>
                        </a>
                    </li>
                    {% for category in categories %}
                    <li class="main-nav-list child"><a
                            onclick="filterByCategory({{category.id}}, '{{category.category_name}}'); return false;"
                            href="{{url_for('shop_api.shop', nonbook=category.id)}}">{{category.abbreviation}}<span
                                class="number"
                                id="category_total{{ category.id }}">{{ categoryObj[category.id] }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <!-- Books -->
            {% for department in departments %}
            <li class="main-nav-list">
                <a class="side-bar-text" aria-expanded="false" data-toggle="collapse" href="#nav{{department.id}}"
                    aria-controls="{{department_id}}" onclick="loadCourses({{department.id}})">
                    <span class="side-department-name">{{- department.abbreviation}} -
                        {{department.department_name}}</span><span class="number"
                        id="dep{{ department.id }}">{{ depObj[department.id] }}</span>
                </a>
                <ul class="collapse" id="nav{{department.id}}" data-toggle="collapse" aria-expanded="false"
                    aria-controls="{{department_id}}">
                    <li class="main-nav-list child"><a class="side-bar-text"
                            href="javascript:filterByDepartment({{department.id}})">All in
                            {{department.abbreviation}}<span class="number"
                                id="dep_total{{ department.id }}">{{ depObj[department.id] }}</span></a>
                    </li>

                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    var map = {};

    const loadCourses = (department) => {
        if (!(department in map)) {
            $(`#nav${department}`).append(`<div class="d-flex justify-content-center">
        <div class="spinner-border text-secondary" role="status"><span class="sr-only">Loading...</span></div></div>`)
            fetch('/class/' + department).then(function (response) {
                response.json().then(function (data) {
                    console.log(data)
                    for (let item_class of data.classes) {
                        $(`#nav${department}`).append(`<li class="main-nav-list child"><a href="javascript:filterByClass(${item_class.id})"> \
                    ${item_class.class_name}<span class="number" \
                    id="class_total${item_class.id}"></span></a></li>`);
                    }
                })
            }).then(res => {
                $(`.spinner-border.text-secondary`).remove();
            })
            map[department] = true;
        }
    }
</script>
{% endblock %}