{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>{{item.name}}</h1>
                <nav class="d-flex align-items-center">
                    <a href="javascript:linkClicked(document.getElementById('home'), '/home')">Home<span
                            class="lnr lnr-arrow-right"></span></a>
                    <a href="javascript:linkClicked(document.getElementById('shop'), '/shop')">Shop<span
                            class="lnr lnr-arrow-right"></span></a>
                    <a class="nav-no-href">Product Details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<script>
    var deleted = false;
    var post = false;
</script>
<!--================Single Product Area =================-->
<div class="product_image_area pb-5">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    {% if images|length > 0 %}
                    {% for image in images %}
                    <div class="single-prd-item">
                        <img class="img-fluid"
                            src="https://book-advertisement-site.s3-us-west-2.amazonaws.com/{{image.image_file}}"
                            alt="">
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="single-prd-item">
                        <img class="img-fluid"
                            src="https://book-advertisement-site.s3-us-west-2.amazonaws.com/No_picture_available.png"
                            alt="">
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text product-info-container">
                    <h3>{{item.name}}</h3>
                    <h2>{{item.price}}</h2>
                    <ul class="list">
                        {% if isBook == True %}
                        <li><a class="active"
                                href="javascript:linkClicked(document.getElementById('shop'), '/shop?department={{department.id}}')"><span>Department</span>
                                : {{department.abbreviation}}</a></li>
                        <li><a
                                href="javascript:linkClicked(document.getElementById('shop'), '/shop?class={{item_class.id}}')"><span>Class</span>
                                :
                                {{item_class.abbreviation}}</a></li>
                        <li><a><span>Author</span>
                                : {{item.author}} </li></a>
                        <li><a><span>ISBN</span>
                                : {{item.isbn}} </li></a>
                        {% else %}
                        <li><a class="active"
                                href="javascript:linkClicked(document.getElementById('shop'), '/shop?nonbook={{category.id}}')"><span>Category</span>
                                : {{category.category_name}}</a></li>
                        {% endif %}
                    </ul>
                    <p>{{item.description}}</p>
                    {% if current_user.is_authenticated != True %}
                    <span><i class="fas fa-exclamation-triangle"></i>
                        <a class="single-edit"
                            onclick="linkClicked(null, '{{url_for('userAuth.login', next=url_for('shop_api.item', item_id=item.id))}}')">Log
                            in</a>
                        to send messages and save items to cart</span>
                    {% elif current_user.confirmed != True %}
                    <span><i class="fas fa-exclamation-triangle"></i>
                        <a class="single-edit" onclick="linkClicked(null, '{{url_for('account')}}')">Confirm</a> your
                        account before sending
                        messages</span>
                    {% endif %}
                    <div class="card_area d-flex align-items-center">
                        {% if current_user.id == item.user_id %}
                        <a class="primary-btn" data-toggle="modal" data-target="#deleteModal"
                            href="javascript:void(0)">Delete</a>
                        {% if isBook == True %}
                        <a class="primary-btn" href="javascript:void(0)" data-toggle="modal" data-target="#editModal"
                            onclick="editBookClicked({{item.class_id}}, {{item.department_id}})">
                            Edit</a>
                        {% else %}
                        <a class="primary-btn" href="javascript:void(0)" data-toggle="modal" data-target="#editModal"
                            onclick="editOtherClicked({{item.category_id}})">
                            Edit</a>
                        {% endif %}
                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <input type="submit" class="btn btn-danger" value="Delete"
                                            onclick="onItemDelete('{{url_for('delete_item', item_id=item.id)}}', '{{item.name}}', '', 'single')">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Edit Modal -->
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                            aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button onclick="history.replaceState(null, null, ' ');" type="button"
                                            class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% include "post_form.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {% if current_user.confirmed == True %}
                        <a class="primary-btn single-product-button" href="javascript:void(0)" data-toggle="modal"
                            data-target="#messageModal">
                            Message Seller <span class="material-icons">
                                mail_outline
                            </span></a>
                        {% else %}
                        <a class="primary-btn single-product-button" style="pointer-events: none;"
                            href="javascript:void(0)">
                            Message Seller <span class="material-icons">
                                mail_outline
                            </span>
                        </a>
                        {% endif %}
                        {% if current_user.is_authenticated == True %}
                        <a class="gray_btn default radius single-product-button"
                            onclick="addToBag({{item.id}}, {{current_user.id}})">
                            <span class="add-text">Add to Cart</span>
                            <span class="material-icons">
                                add_shopping_cart
                            </span></a>
                        {% else %}
                        <a disabled style="pointer-events: none;" class="gray_btn default radius single-product-button">
                            Add to Cart <span class="material-icons">
                                add_shopping_cart
                            </span></a>
                        {% endif %}
                        <!-- Message Modal -->
                        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog"
                            aria-labelledby="messageModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="content-section">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <form method="POST" id="message-form" action=""
                                                    enctype="multipart/form-data">
                                                    {{message_form.hidden_tag()}}
                                                    <fieldset class="form-group">
                                                        <legend class="border-bottom mb-4">
                                                            {{message_title}}
                                                        </legend>
                                                        {% include "message_form.html" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // window.location.reload(false);
    initializeSingleProductPage();
    highlightNavLink();

    $('#editModal').on("hidden.bs.modal", function () {
        // console.log("Hidden")
        console.log(deleted)
        if (deleted && !post) {
            location.reload();
        }
    });

    function editBookClicked(item_class, item_department) {
        console.log("test", item_class)
        console.log(item_department)
        let class_select = document.getElementById('class_list');
        let department_select = document.getElementById('department_list')
        console.log(class_select)
        class_select.value = item_class
        department_select.value = item_department

        var $department_select = $(document.getElementById('department_list'))
        var department_selectize = $department_select[0].selectize;
        department_selectize.setValue(item_department);

        var $class_select = $(document.getElementById('class_list'))
        var class_selectize = $class_select[0].selectize;
        class_selectize.setValue(item_class);
    };

    function editOtherClicked(item_category) {
        console.log("test", item_category)
        let category_select = document.getElementById('category_list')
        category_select.value = item_category

        var $category_select = $(document.getElementById('category_list'))
        var category_selectize = $category_select[0].selectize;
        category_selectize.setValue(item_category);
    };

    function addToBag(item_id, user_id) {
        document.querySelector('span.add-text').innerHTML = 'Added!';

        var url = "{{url_for('add_to_bag', item='tempItem', user='tempUser')}}"
            .replace('tempItem', item_id).replace('tempUser', user_id).replace('&amp;', '&')

        $.post(url, null, (data, status) => {
            if (data.added) {
                let bagIcon = document.getElementsByClassName("fa-stack")[0];
                bagIcon.setAttribute("data-count", parseInt(bagIcon.getAttribute("data-count")) + 1)
            }
        })

        saved_html = null;
    }
</script>
{% endblock content %}