{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Details Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="{{url_for('home')}}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="{{url_for('shop_api.shop')}}">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="{{url_for('shop_api.item', item_id=item.id)}}">product-details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<script>
    var deleted = false;
    var post = false;
</script>
<!--================Single Product Area =================-->
<div class="product_image_area pb-5">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    {% if images|length > 0 %}
                    {% for image in images %}
                    <div class="single-prd-item">
                        <img class="img-fluid"
                            src="https://book-advertisement-site.s3-us-west-2.amazonaws.com/{{image.image_file}}"
                            alt="">
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="single-prd-item">
                        <img class="img-fluid"
                            src="https://book-advertisement-site.s3-us-west-2.amazonaws.com/No_picture_available.png"
                            alt="">
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text product-info-container">
                    <h3>{{item.name}}</h3>
                    <h2>{{item.price}}</h2>
                    <ul class="list">
                        <li><a class="active"
                                href="{{url_for('shop_api.shop')}}?department={{department.id}}"><span>Department</span>
                                : {{department.department_name}}</a></li>
                        <li><a href="{{url_for('shop_api.shop')}}?class={{item_class.id}}"><span>Class</span>
                                :
                                {{item_class.class_name}}</a></li>
                        <li><a><span>Author</span>
                                : {{item.author}} </li></a>
                        <li><a><span>ISBN</span>
                                : {{item.isbn}} </li></a>
                    </ul>
                    <p>{{item.description}}</p>
                    <div class="card_area d-flex align-items-center">
                        {% if current_user.id == item.user_id %}
                        <a class="primary-btn" data-toggle="modal" data-target="#deleteModal"
                            href="javascript:void(0)">Delete</a>
                        <a class="primary-btn" href="javascript:void(0)" data-toggle="modal" data-target="#editModal"
                            onclick="editClicked({{item.class_id}}, {{item.department_id}})">
                            Edit</a>
                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <form action="{{url_for('delete_item', item_id=item.id)}}" method="POST">
                                            <input type="submit" class="btn btn-danger" value="Delete">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Edit Modal -->
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                            aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button onclick="history.replaceState(null, null, ' ');" type="button"
                                            class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% include "post_form.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <a class="primary-btn" href="javascript:void(0)" data-toggle="modal" data-target="#messageModal">
                            Message Seller <i class="lnr lnr-envelope"></i></a>
                        <a class="icon_btn" onclick="addToBag({{item.id}}, {{current_user.id}})"
                            href="javascript:void(0)"><span class="ti-bag"></span>
                        </a>
                        <!-- Message Modal -->
                        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog"
                            aria-labelledby="messageModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button"
                                            class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% include "message_form.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // window.location.reload(false);
    initializeSingleProductPage();

    $('#editModal').on("hidden.bs.modal", function () {
        // console.log("Hidden")
        console.log(deleted)
        if (deleted && !post) {
            location.reload();
        }
        // window.location = window.location
        // input = document.querySelector('input[name="files[]"')
        // var $input = $(input),
        //     api = $.fileuploader.getInstance($input);
        // console.log(api)
        // if (api) {

        //     api.reset();
        //     api.enable();
        //     {% if item and(images | length > 0) %}
        //     {% for image in images %}
        //     console.log("add")
        //     api.add("https://book-advertisement-site.s3-us-west-2.amazonaws.com/{{image.image_file}}", "image/png", "")
        //     {% endfor %}
        //     {% endif %}

        //     api.updateFileList();

        // }
    });

    function editClicked(item_class, item_department) {
        console.log("test", item_class)
        console.log(item_department)
        //     window.location.hash = 'update';
        let class_select = document.getElementById('class_list');
        let department_select = document.getElementById('department_list')
        console.log(class_select)
        class_select.value = item_class
        department_select.value = item_department

        var $department_select = $(document.getElementById('department_list'))
        var department_selectize = $department_select[0].selectize;
        department_selectize.setValue(item_department);

        var $class_select = $(document.getElementById('class_list'))
        var class_selectize = $class_select[0].selectize;
        class_selectize.setValue(item_class);
        //     fetch('/class/' + item_department).then(function (response) {
        //         response.json().then(function (data) {
        //             let optionHTML = '';
        //             // optionHTML += '<option data-display="Select Class">Select</option>'
        //             for (let item_class of data.classes) {
        //                 optionHTML += '<option value="' + item_class.id + '">'
        //                     + item_class.class_name + '</option>';
        //             }
        //             class_select.innerHTML = optionHTML;
        //             $('#class').val(item_class);
        //             $('select').niceSelect('update');
        //         })
        //     });
        {% if item and(images | length > 0) %}

        console.log("!!!!!!!!!!!!!!!!")
        $('input[name="files"]').fileuploader({
            files: [
                {% for image in images %}
    {
                "name": "",
                "file": "https://book-advertisement-site.s3-us-west-2.amazonaws.com/{{image.image_file}}",
                "type": "image/png",
                "size": 26162,
                "data": {
                    "thumbnail": "https://book-advertisement-site.s3-us-west-2.amazonaws.com/{{image.image_file}}",
                }
            },
            {% endfor %}
        ],
        })
    {% endif %}
    };

    function addToBag(item_id, user_id) {
        var url = "{{url_for('add_to_bag', item='tempItem', user='tempUser')}}"
            .replace('tempItem', item_id).replace('tempUser', user_id).replace('&amp;', '&')

        $.post(url, null, (data, status) => {
            if (data.added) {
                let bagIcon = document.getElementsByClassName("bag-icon")[0];
                bagIcon.innerHTML = parseInt(bagIcon.innerHTML) + 1;
            }
        })
    }
</script>
{% endblock content %}