{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Terms of Service</h1>
                <nav class="d-flex align-items-center">
                    <a onclick="linkClicked(null, '/home'); return false" href="/home">Home<span
                            class="lnr lnr-arrow-right"></span></a>
                    <a class="nav-no-href">Legal Stuff</span></a>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container mt-3 mb-5">
    <h4>
        Agreement between User and https://www.unibooks.io
    </h4>
    <p>Welcome to https://unibooks.io. Unibooks is an online marketplace for university students to buy, sell and trade
        used textbooks and other things such as furniture, miscellaneous items and services. Unibooks are offered to you
        conditioned on your acceptance without modification of the terms, conditions, and notices contained herein.
        Please read these terms carefully, and keep a copy of them for your reference.</p>
    <h4>Using Unibooks</h4>
    <p>
        In connection with using or accessing our services you will not:
    </p>
    <ul>
        <li>Post, list or upload content or items in inappropriate categories or areas</li>
        <li>Post, list or upload content or items irrelevant to the selected school</li>
        <li>Manipulate the price of any item or interfere with any other user’s listings</li>
        <li>Post false, unlawful, racist, unsolicited, inaccurate, misleading deceptive, defamatory, or libelous content
        </li>
        <li>Transfer or share your account with another person</li>
        <li>Distribute or post spam</li>
        <li>Distribute viruses or any other technologies that may harm Unibooks or the interests or property of users
        </li>
        <li>Use any robot, spider, scraper, data mining tools, data gathering and extraction tools, or other automated
            means to access our Services for any purpose, except with the prior express permission of Unibooks</li>
        <li>interfere with the functioning of our Services, such as by imposing an unreasonable or disproportionately
            large load on our infrastructure and sending excessive emails with Unibooks messaging system</li>
        <li>Infringe post content that does not belong to you</li>
        <li>Post irrelevant images associating to your post</li>
        <li>Abuse Unibook’s reporting processes</li>
    </ul>
    <br />
    <p>
        Sellers and buyers must possess an email account associated with the selected school. (e.g. @pacificu.edu email
        account for Pacific University or @pdx.edu email account for Portland State University)
        <b>Dealing should be done locally, face-to-face.</b> Beware offers involving shipping. If shipping is necessary
        to
        complete
        the transaction we recommend payment services with buyer protection. Perform the transactions at your own risk.
        We
        are not responsible or liable for any fraud or scam acts.
        You grant us a perpetual, irrevocable, unlimited, worldwide, fully paid/sublicensable license to use, copy,
        display,
        distribute, and make derivative works from content you post.
        Unibooks reserves the rights to suspend or terminate accounts, services and content at any given time at our
        sole
        discretion.
    </p>
    <h4>Safety</h4>
    <p>Avoid scams by dealing locally, face-to-face. Avoid performing online transactions. If inevitable, use payment
        services that provide buyer protection. </p>
    <p>For your safety, <b>meet at a public place on campus during the day</b> (preferably with a friend).</p>
    <p>Respond to buyer emails that can be found in your school’s internal email system.</p>
    <h4>Account</h4>
    <p>If you use Unibooks, you are responsible for maintaining the confidentiality of your account and for restricting
        access to your computer, and you agree to accept responsibility for all activities that occur under your
        account. You may not assign or otherwise transfer your account to any other person or entity, and you may not
        share an account with another person. You acknowledge that Unibooks is not responsible for third party access to
        your account that results from theft or misappropriation of your account. </p>
    <p>We may cancel unconfirmed accounts or accounts that have been inactive for a substantial period of time.
        Additionally, we reserve the right to refuse, modify, or terminate all or part of our Services to anyone for any
        reason at our discretion.</p>
    <h4>Communication Services</h4>
    <p>Unibooks provides communication services such as item posting and messaging designed to enable you to connect
        with sellers and advertise your items. You agree to use the Communication Services only to post, send and
        receive messages and material that are proper and related to the particular Communication Service. By way of
        example, and not as a limitation, you agree that when using a Communication Service, you will not: defame,
        abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity)
        of others; publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing,
        obscene, indecent or unlawful topic, name, material or information; upload files that contain software or other
        material protected by intellectual property laws (or by rights of privacy of publicity) unless you own or
        control the rights thereto or have received all necessary consents; upload files that contain viruses, corrupted
        files, or any other similar software or programs that may damage the operation of another's computer; conduct or
        forward surveys, contests, pyramid schemes or chain letters; download any file posted by another user of a
        Communication Service that you know, or reasonably should know, cannot be legally distributed in such manner;
        falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels
        of the origin or other material contained in a file that is uploaded; violate any code of
        conduct or other guidelines which may be applicable for any particular Communication Service; harvest or
        otherwise collect information about others, including email addresses, without their consent; violate any applicable laws or
        regulations. Unibooks has no obligation to monitor the Communication Services. However, Unibooks reserves the
        right to review materials posted to a Communication Service and to remove any materials in its sole discretion.
        Unibooks Reserves the right at all times to disclose any information as necessary to satisfy any applicable law,
        regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or
        materials, in whole or in part, in Unibooks sole discretion. Always use caution when giving out any personally
        identifying information about yourself or your children in any Communication Service. Unibooks does not control
        or endorse the content, messages or information found in any Communication Service and, therefore, Unibooks
        specifically disclaims any liability with regard to the Communication Services and any actions resulting from
        your participation in any Communication Service. Materials uploaded to a Communication Service may be subject to
        posted limitations on usage (10 messages per hour and 10 postings at a time), reproduction and/or dissemination.
        You are responsible for adhering to such limitations if you upload the materials.
    </p>
    <h4>Termination of registration</h4>
    <p>If we believe that you have not compiled with these terms and conditions, we may, at our sole discretion,
        terminate your registered account and revoke your access to our service.
    </p>
    <p>If you no longer wish to have a registered account, you may terminate your account by
        <a class="nav-text" onclick="linkClicked(this, '/login')">Log
            in</a> &#x2192; User &#x2192; Account &#x2192;
        <a class="genric-btn danger-border circle" style="padding: 0 20px;">Delete your account</a>
    </p>
    <h4>Disclaimer and Liability</h4>
    <p>We try our best to keep our services safe, secure, and functioning properly, but we cannot guarantee the
        continuous
        operation of or access to our service and the safety of the users.</p>
    <p>We make no premises, warranties, or representations to Unibooks, including its completeness, accuracy,
        availability, timeliness, propriety, security or reliability.</p>
    <p>You agree that you are making the user of our service at your own risk. We provide Unibooks on an “AS IS” and “AS
        AVAILABLE” basis and any risk of using Unibooks is assumed by you.</p>
    <p>Accordingly, to the extent permitted by applicable law, we exclude all express or implied warranties, terms and
        conditions including, but not limited to, implied warranties of merchantability, fitness for a particular
        purpose, and non-infringement.</p>
    <p>We disclaim any liability or responsibility for acts, omissions, or conduct of you or any party in connection
        with Unibooks. In addition, we are not liable, and you agree not to hold us responsible, for any damages or
        losses (including, but not limited to, loss of money, goodwill or reputation, profits, other intangible losses,
        or any special, indirect, or consequential damages).</p>
    <h4>Contact Us</h4>
    <p> Unibooks welcomes your questions or comments regarding the Terms. You may address your questions or comments
        to Unibooks through the email address listed on the website.</p>
</div>
<!-- End Banner Area -->

{% endblock content %}