{% block body_content %}
<div class="filter-bar d-flex flex-wrap align-items-center">
    <div class="dropdown-top">
        <div class="dropdown dropdown-sort mr-2">
            <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span id="sort-button-text">Sort By</span> <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a id="newest" class="sort dropdown-item" onclick="sort(this, 'newest', true)">Newest-Oldest</a>
                <a id="oldest" class="sort dropdown-item" onclick="sort(this, 'oldest', true)">Oldest-Newest</a>
                <a id="lowest" class="sort dropdown-item" onclick="sort(this, 'lowest', true)">Price: Low-High</a>
                <a id="highest" class="sort dropdown-item" onclick="sort(this, 'highest', true)">Price: High-Low</a>
            </div>
        </div>
        <div class="dropdown dropdown-filter mr-2">
            <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span id="filter-button-text">Filter By</span> <i class="fas fa-sliders-h"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a id="0+25" class="filter dropdown-item" onclick="filterByPrice(this, '0+25', true)">$0 - $25</a>
                <a id="25+50" class="filter dropdown-item" onclick="filterByPrice(this, '25+50', true)">$25 - $50</a>
                <a id="50+100" class="filter dropdown-item" onclick="filterByPrice(this, '50+100', true)">$50 - $100</a>
                <a id="100+150" class="filter dropdown-item" onclick="filterByPrice(this, '100+150', true)">$100 - $150</a>
                <a id="150+99999" class="filter dropdown-item" onclick="filterByPrice(this, '150+99999', true)">Over $150</a>
            </div>
        </div>
        <div class="dropdown dropdown-show">
            <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span id="show-button-text">Show All</span> <i class="fas fa-angle-down"></i>
            </button>
            <div class="dropdown-menu dropdown-show" aria-labelledby="dropdownMenuButton">
                <a id="all" class="show dropdown-item" onclick="show(this, 'all', true)">Show All</a>
                <a class="show dropdown-item" onclick="show(this, 'default', true)">Default</a>
            </div>
        </div>
    </div>
</div>
<div id="posts-spinner">
    <div class="list-overlay">
        <div class="list-loader">Loading...</div>
        <h3 class="list-loader-text" id="loader-text">Loading...</h3>
    </div>
</div>
{% endblock %}