{% if not standalone %} {% extends "layout.html" %} {% endif %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Your Listings</h1>
                <nav class="d-flex align-items-center">
                    <a href="javascript:linkClicked(document.getElementById('home'), '/home')">Home<span
                            class="lnr lnr-arrow-right"></span></a>
                    <a class="nav-no-href">Listings</span></a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="whole-wrap pb-100 mt-3">
    <div class="container">
        <div class="section-top-border">
            {% if listings|length == 0 %}
            <div class="container no-results">
                <img class="icon-img" src="{{ url_for('static', filename='img/icons/Empty_Box.svg')}}" alt="No Listings">
                <h1 class="pt-3 pb-3">You have no items for sale</h1>
                <a href="javascript:linkClicked(this, '{{ url_for('new_item')}}')"
                    class="genric-btn primary-border circle arrow">Start Selling<span
                        class="lnr lnr-arrow-right"></span></a>
            </div>
            {% else %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Your Items</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Post Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in listings %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td><img class="img-thumbnail listing-image"
                                src="https://book-advertisement-site.s3-us-west-2.amazonaws.com/{{post.thumbnail}}"
                                alt=""></td>
                        <td>
                            <div class="single-product">
                                <div class="product-details">
                                    <h6 class="hover-line"><a
                                            href="javascript:onItemClick('{{url_for('shop_api.item', item_id=post.id)}}')">{{post.name}}</a>
                                    </h6>
                                    <div class="prd-bottom">
                                        <p class="hover-line"><a
                                                href="javascript:onItemClick('{{url_for('shop_api.item', item_id=post.id)}}')">
                                                View more
                                        </p></a>
                                        <p class="hover-line">
                                            <a data-toggle="modal" data-target="#deleteModal{{loop.index}}"
                                                href="javascript:void(0)">
                                                Delete
                                            </a>
                                        </p>
                                        <p class="hover-line"><a data-toggle="modal" class="single-edit"
                                                data-target="#editModal{{post.id}}"
                                                onclick="listingEditClicked({{post.id}}, '{{post.category_id}}', '{{post.class_id}}', '{{post.department_id}}')">Edit</a></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="price">
                                <h6>{{post.price}}</h6>
                            </div>
                        </td>
                        <td>
                            <div class="price">
                                <h6>{{post.date_posted.strftime('%Y-%m-%d')}}</h6>
                            </div>
                        </td>
                    </tr>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal{{loop.index}}" tabindex="-1" role="dialog"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <b>Warning:</b> Deleting your accout is irreversible.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-danger" value="Delete"
                                        onclick="onItemDelete('{{url_for('delete_item', item_id=post.id)}}', '{{post.name}}', '{{loop.index}}', 'listings')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Edit Modal -->
                    <div class="modal fade" id="editModal{{post.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content modal-content-{{post.id}}">
                                <div class="list-overlay">
                                    <div class="list-loader">Loading...</div>
                                    <h3 class="list-loader-text" id="loader-text">Loading...</h3>
                                </div>
                                <div class="modal-header">
                                    <button onclick="history.replaceState(null, null, ' ');" type="button" class="close"
                                        data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="modal-body-{{post.id}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
<script>
    const deleteClicked = (url) => {
        $.ajax({
            url: url,
            type: "post",
            data: { standalone: 'true' },
            async: true,
            success: function (response) {
                location.reload();
            },
            beforeSend: function () {
                $("body").toggleClass("loading");
            },
            complete: function () {
                $("body").toggleClass("loading");
                // if (path === 'shop') {
                //   initializeShopPage();
                // }
            }
        })
    }
</script>
{% endblock content %}