{% extends "layout.html" %}
{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Your Listings</h1>
                <nav class="d-flex align-items-center">
                    <a href="{{url_for('home')}}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Save for later</span></a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="whole-wrap pb-100 mt-3">
    <div class="container">
        <div class="section-top-border">
            {% if listings|length == 0 %}
            <div class="container no-results">
                <h1 class="pt-3 pb-3">You have no items for sale</h1>
                <a href="{{url_for('new_item')}}" class="genric-btn primary-border circle arrow">Start Selling<span
                        class="lnr lnr-arrow-right"></span></a>
            </div>
            {% else %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Your Items</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Post Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in listings %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td><img class="img-thumbnail listing-image"
                                src="https://book-advertisement-site.s3-us-west-2.amazonaws.com/{{post.thumbnail}}"
                                alt=""></td>
                        <td>
                            <div class="single-product">
                                <div class="product-details">
                                    <h6 class="hover-line"><a
                                            href="{{url_for('item', item_id=post.id)}}">{{post.name}}</a></h6>
                                    <div class="prd-bottom">
                                        <a href="{{url_for('item', item_id=post.id)}}">
                                            <p class="hover-line">View more</p>
                                        </a>
                                        <a data-toggle="modal" data-target="#deleteModal{{loop.index}}" href="javascript:void(0)">
                                            <p class="hover-line">Delete</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="price">
                                <h6>{{post.price}}</h6>
                            </div>
                        </td>
                        <td>
                            <div class="price">
                                <h6>{{post.date_posted.strftime('%Y-%m-%d')}}</h6>
                            </div>
                        </td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{loop.index}}" tabindex="-1" role="dialog"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form action="{{url_for('delete_item', item_id=post.id)}}" method="POST">
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
<script>

</script>
{% endblock content %}