{% block body_content %}
<section class="lattest-product-area pb-40 category-list" id="items-list">
    <!-- <div class="text-center mt-5 mb-5" id="posts-spinner"> -->
    {% if foundCourse != None %}
    </br>
    <h3>Did you mean this course:<a onclick="return filterByClass({{foundCourse.id}})"
            href="/shop?class={{foundCourse.id}}">
            {{foundCourse.abbreviation}}
        </a></h3></br>
    {% endif %}
    {% if foundDepartment != None %}
    <h3>Did you mean this department:<a onclick="return filterByDepartment({{foundDepartment.id}})"
            href="/shop?department={{foundDepartment.id}}">
            {{foundDepartment.abbreviation}} - {{foundDepartment.department_name}}
        </a></h3></br>
    {% endif %}
    {% if foundCategory != None %}
    <h3>Did you mean:<a onclick="return filterByCategory({{foundCategory.id}})"
            href="/shop?nonbook={{foundCategory.id}}">Other:
            {{foundCategory.category_name}} </a></h3>
    {% endif %}
    {% if posts.total == 0 %}
    <div class="container no-results mt-5">
        <h1 class="pt-3 pb-3">Sorry there are no books that meet your search criteria at this moment</h1>
    </div>
    {% else %}
    <div class="row">
        {% for post in posts.items %}
        <!-- single product -->
        <div class="col-lg-4 col-md-6">
            <div class="single-product" id="{{post.id}}">
                <a onclick="onItemClick('{{url_for('shop_api.item', item_id=post.id)}}'); return false"
                    href="{{url_for('shop_api.item', item_id=post.id)}}">
                    {% if post.thumbnail == 'No_picture_available.png' %}
                    <img class="img-fluid" src="/static/item_pics/No_picture_available.png" alt="No Image Available">
                    {% else %}
                    <img class="img-thumbnail list-image"
                        src="https://book-advertisement-site.s3-us-west-2.amazonaws.com/{{post.thumbnail}}"
                        alt="User posting image">
                    {% endif %}
                </a>
                <div class="product-details">
                    <h6><a class="hover-line"
                            onclick="onItemClick('{{url_for('shop_api.item', item_id=post.id)}}'); return false"
                            href="{{url_for('shop_api.item', item_id=post.id)}}">{{post.name}}</a>
                    </h6>
                    <div class="price">
                        <h6>{{post.price}}</h6>
                        <h6>{{post.date_posted.strftime('%b %d')}}</h6>
                    </div>
                    <div class="prd-bottom list-item-prd-bottom">
                        <a onclick="onItemClick('{{url_for('shop_api.item', item_id=post.id)}}'); return false"
                            href="{{url_for('shop_api.item', item_id=post.id)}}" class="social-info">
                            <span class="material-icons">
                                more_horiz
                            </span>
                            <p class="hover-text">View more</p>
                        </a>
                        {% if current_user.id == post.user_id %}
                        <a data-toggle="modal" data-target="#deleteModal{{loop.index}}" href="javascript:;"
                            class="social-info">
                            <span class="lnr lnr-trash"></span>
                            <p class="hover-text">Delete</p>
                        </a>
                        {% elif current_user.is_authenticated %}
                        <a onclick="addToBag(this, {{post.id}})" href="javascript:;" class="social-info">
                            <span class="ti-bag"></span>
                            <p class="hover-text">Add to bag</p>
                        </a>
                        <a onclick="report(this, {{post.id}})" href="javascript:;" class="social-info">
                            <span class="lnr lnr-alarm"></span>
                            <p class="hover-text">Report</p>
                        </a>
                        {% else %}
                        <div class="social-info">
                            <span class="ti-bag"></span>
                            <p class="hover-text animate-overflow">
                                <a class="click-href"
                                    onclick="linkClicked(null, '{{url_for('userAuth.login', next='/shop')}}')">
                                    Log in </a> to add to cart
                            </p>
                        </div>
                        <div class="social-info">
                            <span class="lnr lnr-alarm"></span>
                            <p class="hover-text animate-overflow">
                                <a class="click-href"
                                    onclick="linkClicked(null, '{{url_for('userAuth.login', next='/shop')}}')">
                                    Log in </a> to report this post
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal{{loop.index}}" tabindex="-1" role="dialog"
            aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel{{loop.index}}">Delete Post?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <b>Warning:</b> Deleting your post is irreversible.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-danger" value="Delete"
                            onclick="onItemDelete('{{url_for('delete_item', item_id=post.id)}}', '{{post.name}}', '{{loop.index}}', 'shop')">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- report modal-->
        <div class="modal fade" id="report-modal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reportModalLabel">Report Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to report this post?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="report-submit" type="button" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>

<script>
    function addToBag(ele, item_id) {
        let text = ele.children[1]
        text.innerHTML = 'Added!'

        ele.onclick = null;
        ele.classList.add("disabled-wrapper");

        $.ajax({
            type: 'POST',
            url: "{{url_for('add_to_bag')}}",
            data: { 'item_id': item_id },
            success: function (data) {
                if (data.added) {
                    let bagIcon = document.getElementsByClassName("fa-stack")[0];
                    bagIcon.setAttribute("data-count", parseInt(bagIcon.getAttribute("data-count")) + 1)
                }
            },
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        })
        saved_html = null;
    }

    const addReportOverlay = (parent, item_id) => {
        const overlay = document.createElement("div");
        overlay.classList.add('overlay');
        parent.classList.add('loading')
        parent.appendChild(overlay);
        const unreport = document.createElement("a");
        unreport.classList.add('unreport-text');
        unreport.textContent = "Unreport Post";
        overlay.appendChild(unreport);
        unreport.onclick = function () {
            var reported = JSON.parse(localStorage.getItem('reportedPosts'));
            const index = reported.indexOf(parseInt(item_id));
            overlay.remove();
            if (index > -1) {
                reported.splice(index, 1);
                localStorage.setItem('reportedPosts', JSON.stringify(reported));
                $.ajax({
                    type: 'POST',
                    url: '/unreport',
                    data: { 'item_id': item_id },
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    }
                })
            }
        }
    }

    function report(ele, item_id) {
        $('#report-modal').modal('show')
        document.getElementById('report-submit').onclick = () => {
            $.ajax({
                type: 'POST',
                url: '/report',
                data: { 'item_id': item_id },
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                    toastr.options = { "positionClass": "toast-top-center", "closeButton": true }
                    toastr.success("Thanks for reporting the inappropriate post!");
                    $('#report-modal').modal('hide')

                    var reported = JSON.parse(localStorage.getItem('reportedPosts')) || [];
                    reported.push(item_id);
                    localStorage.setItem('reportedPosts', JSON.stringify(reported));

                    const flaggedProduct = ele.parentNode.parentNode.parentNode;

                    addReportOverlay(flaggedProduct, item_id);
                }
            })
        }
    }

    $(document).ready(function () {
        const items = document.querySelectorAll('.single-product');
        var reported = JSON.parse(localStorage.getItem('reportedPosts')) || [];

        if (reported.length > 0) {
            for (let i = 0; i < items.length; i++) {
                if (reported.includes(parseInt(items[i].id))) {
                    addReportOverlay(items[i], items[i].id);
                }
            }
        }
    })
</script>
{% endblock %}