
{% extends "email_layout.html"%}

{% block content %}

{% set p_style = "font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;" %}

<div style="text-align: center;">
    <a href="http://www.unibooks.io"><img src="http://unibooks.io/static/img/logo.png"></img></a>

    <p style="{{ p_style }}"></br></p>

    <h1 style="{{ p_style }}">Reset your password for your Unibooks account</h1>

    <p style="{{ p_style }} color: #848484;">Click the button or link below to reset your password!</p>

    <p style="{{p_style }}"><span style="display:inline-block;position:relative;border-radius:4px;background-color:#87CEEB;">
        <a href="{{ link }}" style="min-width:196px;border-top:13px solid;border-bottom:13px solid;border-right:24px solid;
    border-left:24px solid;border-color:#87CEEB;border-radius:4px;background-color:#87CEEB;color:#ffffff;font-size:18px;line-height:18px;text-shadow:0 1px 1px 
    #2e9a5f;display:inline-block;text-align:center;font-weight:900;text-decoration:none !important;">Reset Password</a>
    </span></p>

    <p style="margin-top: 1em;">
        <small style="color:#8899a6;text-decoration:none;">This link will expire in 24 hours</small>
    </p>
</div>

{% endblock %}

{% block footer %}

<p style="{{p_style }} color: #848484;">Please do not reply to this email.</p>

{% endblock %}