/* Forbes & Thomas */

body {
    background: #fafafa;
    color: #333333;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

/* My utility css */
li.options {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.li-link {
    color: rgb(119, 119, 119);
    padding-left: 18px;
    padding-right: 29px;
    display: block;
    height: 100%;
    width: 100%;
}

.num-cart {
    display: inline;
}

@media (min-width: 576px) {
    .list-image {
        height: 510px !important;
    }
    .top-align {
        margin-bottom: 50px !important;
    }

    .slide-default h1 {
        font-size: 2rem !important;
        font-weight: 700 !important;
    }

    .slide-default h5 {
        font-size: 1rem !important;
        font-weight: 500 !important;
        color: white;
    }
}

@media (min-width: 768px) {
    .list-image {
        height: 180px !important;
    }
    .top-align {
        margin-bottom: 150px !important;
    }

    .slide-default h1 {
        font-size: 3rem !important;
        font-weight: 700 !important;
    }

    .slide-default h5 {
        font-size: 1rem !important;
        font-weight: 500 !important;
        color: white;
    }
}

@media (min-width: 992px) {
    .list-image {
        height: 183.3px !important;
    }
    .top-align {
        margin-bottom: 300px !important;
    }

    .slide-default h1 {
        font-size: 4rem !important;
        font-weight: 700 !important;
    }

    .slide-default h5 {
        font-size: 1rem !important;
        font-weight: 500 !important;
        color: white;
    }
}

@media (min-width: 1200px) {
    .list-image {
        height: 255px !important;
    }

    .slide-default h1 {
        font-size: 5rem !important;
        font-weight: 700 !important;
    }

    .slide-default h5 {
        font-size: 1.5rem !important;
        font-weight: 500 !important;
        color: white;
    }
}

@media (max-width: 576px) {
    .listing-image {
        height: 100px !important;
        width: 110px !important;
    }
}

@media (min-width: 576px) {
    .listing-image {
        height: 150px !important;
        width: 150px !important;
    }
}

@media (min-width: 768px) {
    .listing-image {
        height: 150px !important;
        width: 150px !important;
    }
}

@media (min-width: 992px) {
    .listing-image {
        height: 150px !important;
        width: 150px !important;
    }

    .main_menu,
    .header_area.sticky-header,
    .navbar.navbar-expand-lg.navbar-light.main_box {
        height: 80px;
    }
}

@media (min-width: 1200px) {
    .listing-image {
        height: 150px !important;
        width: 150px !important;
    }
}

.hover-line:hover {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .alert.alert-info,
    .alert.alert-success,
    .alert.alert-error {
        /* position: absolute; */
        margin-bottom: -10px;
        top: 60px;
        z-index: 1;
    }
    .s_product_text.product-info-container {
        margin-top: 65px !important;
    }

    .breadcrumb-banner .col-first {
        padding-right: 0 !important;
        padding-top: 40px;
    }
}

.no-results {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.img-fluid {
    max-height: 585px;
}

.ti-bag-active:before {
    color: #70a9da !important;
    content: "\e655";
}

/* .bag-icon {
  color: white !important;
} */

.ti-bag:hover {
    color: #70a9da !important;
}

.lnr.lnr-magnifier {
    padding: 3px;
}

.lnr.lnr-magnifier:hover {
    padding: 3px;
    background-color: #70a9da;
    color: white !important;
    border-radius: 20px;
}

a.nav-link {
    width: 100%;
    height: 100%;
}

.fileuploader {
    max-width: 643px;
}

.fileuploader.fileuploader-theme-thumbnails {
    margin-top: 0;
}

.s_product_text.product-info-container {
    margin-top: 0;
}

.class-form,
.department-form {
    display: inline-block;
    width: 30%;
}

.modal-content .class-form,
.modal-content .department-form {
    width: 48%;
}

.department-form {
    margin-right: 5px;
}

#sticky-sticky-wrapper {
    width: 100vw;
}

.dropdown-top {
    margin-top: 10px;
    display: inherit;
}

@media (max-width: 768px) {
    .dropdown-top {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;
        /* overflow-x: auto;
        white-space: nowrap; */
    }

    /* .dropdown-top::-webkit-scrollbar {
        display: none;
    } */
}
.class-form,
.department-form {
    display: inline-block;
    width: 48%;
}

label.field-required::after {
    content: "*";
    /* color: #70a9da; */
    color: red;
}

.form-spinner-modal {
    color: blue;
}

.bag-icon {
    padding-right: 0.4em;
    padding-left: 0.4em;
    font-size: 0.8rem;
    margin-left: 0.4em;
    border-radius: 10rem;
    background-color: #70a9da;
    font-family: Roboto;
}

.number {
    float: right;
}

.banner-arrow {
    color: white;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

/* Home page carousel slides */
.home-carousel {
    margin: auto;
}

.slide-default h1 {
    font-size: 2rem;
    font-weight: 700;
}

.slide-default h5 {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

/* Feature area (below carousel) */
.feature-area {
    text-align: center;
    background-color: #eaeef1;
    padding-top: 60px;
    padding-bottom: 60px;
}

.feature-btn {
    margin-bottom: 20px;
}

.feature-btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.featurette-area {
    text-align: center;
    margin-top: 60px;
}

/* Dropdown */
.dropdown-item {
    cursor: pointer;
}

.dropdown-item.disabled {
    color: #888 !important;
}

.dropdown-item.active {
    background-color: #70a9da !important;
    color: white !important;
}

.head > i.fa-angle-down {
    float: right;
    margin-top: 25px;
}

/* Form control */
input.form-control:focus:invalid {
    border-bottom: 3px solid #ff7730;
}

input.form-control:focus {
    border-bottom: 3px solid #7ed56f;
}

/* Fade in animation */
.animation-element {
    position: relative;
    width: 100%;
    margin: 0% 1.33 2.66% 1.33%;
}

.bounce-up {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bounce-up.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.alert.alert-info,
.alert.alert-success,
.alert.alert-error {
    margin-bottom: 0 !important;
}

.alert.alert-error {
    background-color: #dc3545;
    color: white;
}

.modal-open {
    padding-right: 0 !important;
    /* overflow: auto !important; */
}

.deleted-item {
    height: 178.4px;
    text-align: center;
    vertical-align: middle !important;
    font-size: 2rem;
}

.activable.active {
    color: #70a9da !important;
}

a.footer-item {
    color: #777777;
    cursor: pointer;
}

.cart,
.nav-link {
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(255, 255, 255, 1) center no-repeat;
    text-align: center;
    margin: 0 auto;
}

body.loading {
    overflow: hidden;
}
body.loading .overlay {
    display: block;
}

/* https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #70a9da;
    font-size: 10px;
    margin: 20% auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

#shopping-cart.active > .ti-bag {
    color: #70a9da;
}

/* .modal-open {
    overflow: hidden;
} */