/* Forbes & Thomas */

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

.bg-steel {
    background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

/* My utility css */
li.options {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.li-link {
    color: rgb(119, 119, 119);
    padding-left: 18px;
    padding-right: 29px;
    display: block;
    height: 100%;
    width: 100%;
}

.num-cart {
    display: inline;
}

@media (min-width: 576px) {
    .list-image {
        height: 510px !important;
    }
    .top-align {
        margin-bottom: 50px !important;
    }
}

@media (min-width: 768px) {
    .list-image {
        height: 180px !important;
    }
    .top-align {
        margin-bottom: 150px !important;
    }
}

@media (min-width: 992px) {
    .list-image {
        height: 183.3px !important;
    }
    .top-align {
        margin-bottom: 300px !important;
    }
}

@media (min-width: 1200px) {
    .list-image {
        height: 255px !important;
    }
}

@media (max-width: 576px) {
    .listing-image {
        height: 100px !important;
        width: 110px !important;
    }
}

@media (min-width: 576px) {
    .listing-image {
        height: 150px !important;
        width: 150px !important;
    }
}

@media (min-width: 768px) {
    .listing-image {
        height: 150px !important;
        width: 150px !important;
    }
}

@media (min-width: 992px) {
    .listing-image {
        height: 150px !important;
        width: 150px !important;
    }

    .main_menu,
    .header_area.sticky-header,
    .navbar.navbar-expand-lg.navbar-light.main_box {
        height: 80px;
    }
}

@media (min-width: 1200px) {
    .listing-image {
        height: 150px !important;
        width: 150px !important;
    }
}

.hover-line:hover {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .alert.alert-info,
    .alert.alert-success,
    .alert.alert-error {
        /* position: absolute; */
        margin-bottom: -10px;
        top: 60px;
        z-index: 1;
    }
    .s_product_text.product-info-container {
        margin-top: 65px !important;
    }

    .breadcrumb-banner .col-first {
        padding-right: 0 !important;
        padding-top: 40px;
    }
}

.no-results {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.img-fluid {
    max-height: 585px;
}

.ti-bag-active:before {
    color: #70a9da !important;
    content: "\e655";
}

/* .bag-icon {
  color: white !important;
} */

/* .ti-bag:hover {
    color: #70a9da !important;
} */

.lnr.lnr-magnifier {
    padding: 3px;
}

.lnr.lnr-magnifier:hover {
    padding: 3px;
    background-color: #70a9da;
    color: white !important;
    border-radius: 20px;
}

a.nav-link {
    width: 100%;
    height: 100%;
}

.fileuploader {
    max-width: 643px;
}

.fileuploader.fileuploader-theme-thumbnails {
    margin-top: 0;
}

.s_product_text.product-info-container {
    margin-top: 0;
}

.class-form,
.department-form {
    display: inline-block;
    width: 30%;
}

.modal-content .class-form,
.modal-content .department-form {
    width: 48%;
}

.department-form {
    margin-right: 5px;
}

#undefined-sticky-wrapper {
    height: 80px !important;
}

.dropdown-top {
    margin-top: 10px;
    display: inherit;
}

@media (max-width: 768px) {
    .dropdown-top {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;
    }

    .class-form,
    .department-form {
        display: inline-block;
        width: 48%;
    }
}

label.field-required::after {
    content: "*";
    /* color: #70a9da; */
    color: red;
}

.form-spinner-modal {
    color: blue;
}

.bag-icon {
    padding-right: 0.4em;
    padding-left: 0.4em;
    font-size: 0.8rem;
    margin-left: 0.4em;
    border-radius: 10rem;
    background-color: #70a9da;
    font-family: Roboto;
}

.number {
    float: right;
}

.banner-arrow {
    color: white;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.home-carousel {
    margin: auto;
}

.slide-default h1{
    font-size: 60px;
    font-weight: 700;
}

.feature-area{
    text-align: center;
    background-color: #eaeef1;
    padding-top: 60px;
    padding-bottom: 60px;
}

.feature-btn {
    margin-bottom: 20px;
}

.featurette-area{
    text-align: center;
    margin-top: 60px;

.dropdown-item {
    cursor: pointer;
}

.dropdown-item.disabled {
    color: #888 !important;
}